<div class="span4 well" style="margin-top: 30px">
<div class="nav nav-tabs nav-stacked">

                            <ul class="nav">
                                
                                <li <?php if (isset($this->current) && $this->current == "client"): ?>class="active"<?php endif; ?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'client', 'action' => 'list')); ?>">Klienci</a></li>
                                <li <?php if (isset($this->current) && $this->current == "shop"): ?>class="active"<?php endif; ?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'shop', 'action' => 'list')); ?>">Sklepy</a></li>
                                
                                <li <?php if (isset($this->current) && $this->current == "client"): ?>class="active"<?php endif; ?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'newsletter', 'action' => 'list')); ?>">Newsletter</a></li>
                                <li <?php if (isset($this->current) && $this->current == "client"): ?>class="active"<?php endif; ?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'newsletter', 'action' => 'list')); ?>">Program partnerski</a></li>
                                
                                <li <?php if (isset($this->current) && $this->current == "client"): ?>class="active"<?php endif; ?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'maper', 'action' => 'list')); ?>">Finanse</a></li>
                                        <li <?php if (isset($this->current) && $this->current == "client"): ?>class="active"<?php endif; ?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'maper', 'action' => 'list')); ?>">Opinie</a></li>
                                    
                                <li>
                                   
                                    <ul>
                                        <li <?php if (isset($this->current) && $this->current == "category"): ?>class="active"<?php endif; ?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'category', 'action' => 'list')); ?>">Kategorie</a></li>
                                        <li <?php if (isset($this->current) && $this->current == "client"): ?>class="active"<?php endif; ?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'client', 'action' => 'list')); ?>">Metatagi</a></li>
                                        <li <?php if (isset($this->current) && $this->current == "client"): ?>class="active"<?php endif; ?>><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'errors', 'action' => 'list')); ?>">Błędy</a></li>
                                        
                                    </ul>

                                <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'auth', 'action' => 'logout')); ?>" style="color:red">Wyloguj</a></li>
                            </ul>

</div>
    </div>