<form class="formularz" method="post" action="/admin/maper/mapowanie/8"><fieldset style="display:none;"><input type="hidden" name="_method" value="POST"></fieldset>
		
			<div class="input select"><label for="MaperProdukt">Produkt:</label><select name="data[Maper][produkt]" class="lg5" id="MaperProdukt">
<option value=""></option>
<option value="/offers">/offers</option>
<option value="/offers/offer">/offers/offer</option>
<option value="/offers/offer/id">/offers/offer/id</option>
<option value="/offers/offer/name" selected="selected">/offers/offer/name</option>
<option value="/offers/offer/description">/offers/offer/description</option>
<option value="/offers/offer/url">/offers/offer/url</option>
<option value="/offers/offer/image">/offers/offer/image</option>
<option value="/offers/offer/price">/offers/offer/price</option>
<option value="/offers/offer/category">/offers/offer/category</option>
<option value="/offers/offer/producer">/offers/offer/producer</option>
</select></div>			<div class="input select"><label for="MaperMarka">Marka:</label><select name="data[Maper][marka]" class="lg5" id="MaperMarka">
<option value=""></option>
<option value="/offers">/offers</option>
<option value="/offers/offer">/offers/offer</option>
<option value="/offers/offer/id">/offers/offer/id</option>
<option value="/offers/offer/name">/offers/offer/name</option>
<option value="/offers/offer/description">/offers/offer/description</option>
<option value="/offers/offer/url">/offers/offer/url</option>
<option value="/offers/offer/image">/offers/offer/image</option>
<option value="/offers/offer/price">/offers/offer/price</option>
<option value="/offers/offer/category">/offers/offer/category</option>
<option value="/offers/offer/producer" selected="selected">/offers/offer/producer</option>
</select></div>			<div class="input select"><label for="MaperModel">Model:</label><select name="data[Maper][model]" class="lg5" id="MaperModel">
<option value=""></option>
<option value="/offers">/offers</option>
<option value="/offers/offer">/offers/offer</option>
<option value="/offers/offer/id" selected="selected">/offers/offer/id</option>
<option value="/offers/offer/name">/offers/offer/name</option>
<option value="/offers/offer/description">/offers/offer/description</option>
<option value="/offers/offer/url">/offers/offer/url</option>
<option value="/offers/offer/image">/offers/offer/image</option>
<option value="/offers/offer/price">/offers/offer/price</option>
<option value="/offers/offer/category">/offers/offer/category</option>
<option value="/offers/offer/producer">/offers/offer/producer</option>
</select></div>			<div class="input select"><label for="MaperCena">Cena:</label><select name="data[Maper][cena]" class="lg5" id="MaperCena">
<option value=""></option>
<option value="/offers">/offers</option>
<option value="/offers/offer">/offers/offer</option>
<option value="/offers/offer/id">/offers/offer/id</option>
<option value="/offers/offer/name">/offers/offer/name</option>
<option value="/offers/offer/description">/offers/offer/description</option>
<option value="/offers/offer/url">/offers/offer/url</option>
<option value="/offers/offer/image">/offers/offer/image</option>
<option value="/offers/offer/price" selected="selected">/offers/offer/price</option>
<option value="/offers/offer/category">/offers/offer/category</option>
<option value="/offers/offer/producer">/offers/offer/producer</option>
</select></div>			<div class="input select"><label for="MaperKategoria">Kategoria:</label><select name="data[Maper][kategoria]" class="lg5" id="MaperKategoria">
<option value=""></option>
<option value="/offers">/offers</option>
<option value="/offers/offer">/offers/offer</option>
<option value="/offers/offer/id">/offers/offer/id</option>
<option value="/offers/offer/name">/offers/offer/name</option>
<option value="/offers/offer/description">/offers/offer/description</option>
<option value="/offers/offer/url">/offers/offer/url</option>
<option value="/offers/offer/image">/offers/offer/image</option>
<option value="/offers/offer/price">/offers/offer/price</option>
<option value="/offers/offer/category" selected="selected">/offers/offer/category</option>
<option value="/offers/offer/producer">/offers/offer/producer</option>
</select></div>			<div class="input select"><label for="MaperOpis">Krótki opis:</label><select name="data[Maper][opis]" class="lg5" id="MaperOpis">
<option value=""></option>
<option value="/offers">/offers</option>
<option value="/offers/offer">/offers/offer</option>
<option value="/offers/offer/id">/offers/offer/id</option>
<option value="/offers/offer/name">/offers/offer/name</option>
<option value="/offers/offer/description" selected="selected">/offers/offer/description</option>
<option value="/offers/offer/url">/offers/offer/url</option>
<option value="/offers/offer/image">/offers/offer/image</option>
<option value="/offers/offer/price">/offers/offer/price</option>
<option value="/offers/offer/category">/offers/offer/category</option>
<option value="/offers/offer/producer">/offers/offer/producer</option>
</select></div>			<div class="input select"><label for="MaperOpis2">Opis:</label><select name="data[Maper][opis2]" class="lg5" id="MaperOpis2">
<option value=""></option>
<option value="/offers">/offers</option>
<option value="/offers/offer">/offers/offer</option>
<option value="/offers/offer/id">/offers/offer/id</option>
<option value="/offers/offer/name">/offers/offer/name</option>
<option value="/offers/offer/description" selected="selected">/offers/offer/description</option>
<option value="/offers/offer/url">/offers/offer/url</option>
<option value="/offers/offer/image">/offers/offer/image</option>
<option value="/offers/offer/price">/offers/offer/price</option>
<option value="/offers/offer/category">/offers/offer/category</option>
<option value="/offers/offer/producer">/offers/offer/producer</option>
</select></div>			<div class="input select"><label for="MaperAtrybut">Atrybut:</label><select name="data[Maper][atrybut]" class="lg5" id="MaperAtrybut">
<option value="" selected="selected"></option>
<option value="/offers">/offers</option>
<option value="/offers/offer">/offers/offer</option>
<option value="/offers/offer/id">/offers/offer/id</option>
<option value="/offers/offer/name">/offers/offer/name</option>
<option value="/offers/offer/description">/offers/offer/description</option>
<option value="/offers/offer/url">/offers/offer/url</option>
<option value="/offers/offer/image">/offers/offer/image</option>
<option value="/offers/offer/price">/offers/offer/price</option>
<option value="/offers/offer/category">/offers/offer/category</option>
<option value="/offers/offer/producer">/offers/offer/producer</option>
</select></div>			<div class="input select"><label for="MaperAtrybutNazwa">Nazwa atryb.:</label><select name="data[Maper][atrybut_nazwa]" class="lg5" id="MaperAtrybutNazwa">
<option value="" selected="selected"></option>
<option value="/offers">/offers</option>
<option value="/offers/offer">/offers/offer</option>
<option value="/offers/offer/id">/offers/offer/id</option>
<option value="/offers/offer/name">/offers/offer/name</option>
<option value="/offers/offer/description">/offers/offer/description</option>
<option value="/offers/offer/url">/offers/offer/url</option>
<option value="/offers/offer/image">/offers/offer/image</option>
<option value="/offers/offer/price">/offers/offer/price</option>
<option value="/offers/offer/category">/offers/offer/category</option>
<option value="/offers/offer/producer">/offers/offer/producer</option>
</select></div>			<div class="input select"><label for="MaperAtrybutWartosc">Wartość atryb.:</label><select name="data[Maper][atrybut_wartosc]" class="lg5" id="MaperAtrybutWartosc">
<option value="" selected="selected"></option>
<option value="/offers">/offers</option>
<option value="/offers/offer">/offers/offer</option>
<option value="/offers/offer/id">/offers/offer/id</option>
<option value="/offers/offer/name">/offers/offer/name</option>
<option value="/offers/offer/description">/offers/offer/description</option>
<option value="/offers/offer/url">/offers/offer/url</option>
<option value="/offers/offer/image">/offers/offer/image</option>
<option value="/offers/offer/price">/offers/offer/price</option>
<option value="/offers/offer/category">/offers/offer/category</option>
<option value="/offers/offer/producer">/offers/offer/producer</option>
</select></div>		
 		
		
		
		<div class="submit"><input type="submit" id="map" class="button" value="mapuj"></div>		</form>
                
<script>

$(document).ready(function(){
    
    $('#map').click(function(){
                                alertify.alert('Mapowanie ustawione');
                                    return false; 
                              });
   
    
}); 

</script>