<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="pl">
<head>
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="/scripts/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="/scripts/jquery.fancybox-1.3.4.css" media="screen" />
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			*   Examples - images
			*/

			$("a.example1").fancybox();
			});
	</script>
	<title>Site</title>
</head>
<body>
	<h1><a href="#" title="Logo"><span>files</span>down</a></h1>
	
	<div class="body">
		<div class="box">
			<h2>Darmowa Rejestracja</h2>
			<form action="#" method="post">
				<fieldset>
					<label>Login: </label>
						<input type="text" name="login" />
					<label>Email: </label>
						<input type="text" name="mail" />
					<label>Hasło: </label>
						<input type="password" name="passwd" />
					<span>Akceptuje warunki ogólne <input type="checkbox" name="accept" /></span>
					<input class="submit" type="submit" name="register" value="Zarejestruj się" />
				</fieldset>
			</form>
		</div>
		<div id="how_to" class="box">
			<h2>jak to działa</h2>
			<div>
				<img src="/images/min_3.jpg" alt="" />
				<img src="/images/min_1.jpg" alt="" />
				<img src="/images/min_8.jpg" alt="" />
				<img src="/images/min_11.jpg" alt="" />
				<img src="/images/min_2.jpg" alt="" /><br />
				<img src="/images/min_6.jpg" alt="" />
				<img src="/images/min_4.jpg" alt="" />
				<img src="/images/min_9.jpg" alt="" />
				<img src="/images/min_7.jpg" alt="" />
				<img src="/images/min_5.jpg" alt="" />
				<img src="/images/min_10.jpg" alt="" />
				<img id="arrow" src="/images/arrow_down.png" alt="" />
				<p>
					<span>pobieraj pliki</span> na komputer
				</p>
			</div>
		</div>
	</div>
	<div class="body">
		<div class="box">
			<h2>o nas</h2>
			<p>
				Tylko u nas obejrzysz filmy i seriale 
				bez limitu za grosze
			</p>
			<span>Istniejemy i obsłużyliśmy już: </span>
			<span><b><?php echo rand(20000, 50000); ?></b> linkow</span>
			<span>Online: </span>
			<span><b><?php echo rand(500, 1000); ?></b></span>
			<span>Pobrano dzisiaj: </span>
			<span><b><?php echo rand(2000, 3000); ?></b></span>
			<span>Przetestuj nas http://filesdown.pl</span>
		</div>
		<div class="box">
			<h2>o nas 2</h2>
			<ul>
				<?php foreach($this->topfiles['first'] as $aFile): ?>
                                <?php $aFile = trim($aFile) ?>
                                <?php list($name, $class) = explode('|', $aFile); ?>
                            
                            <li class="<?php echo $class; ?>">
                                <a href="<?php echo $this->url(array('name' => $name, 'ref' => $this->ref), 'subpage')?>"><?php echo $name; ?></a>
                            </li>
                              <?php endforeach; ?>
                                
			</ul>
		</div>
		<div class="box">
			<h2>jakieś pobierane czy coś</h2>
			<ul>
				<?php foreach($this->topfiles['second'] as $aFile): ?>
                            <?php $aFile = trim($aFile) ?>
                                <?php list($name, $class) = explode('|', $aFile); ?>
                            
                            <li class="<?php echo $class; ?>">
                                <a href="<?php echo $this->url(array('name' => $name, 'ref' => $this->ref), 'subpage')?>"><?php echo $name; ?></a>
                            </li>
                              <?php endforeach; ?>
                                
			</ul>
		</div>
	</div>
	<h2>ostatnio pobrane</h2>
	<div class="body">
            <?php foreach($this->bottomfiles as $aFile): ?>
           <?php list($name, $cover) = explode('|', $aFile); ?>
            <?php $aFile = trim($aFile) ?>
            
            <div class="last_download">
			<img src="/images/pictures/<?php echo $cover; ?>" alt="" />
			<span><a href="#"><?php echo $name; ?></a></span>
		</div>
            <?php endforeach; ?>
            
		
	</div>
	<div id="footer">
		<div class="body">
			<p>Jakieś prawa. Wszelkie nie zabronione.</p>
			<ul>
				<li><a href="#">home</a></li>
				<li><a href="#">oferta</a></li>
				<li><a href="#">inne</a></li>
			</ul>
		</div>
	</div>
</body>
</html>