tr.selected td {background-color: #eed3d7 !important}
.box-selected {border: 1px solid green; background-color: #a9dba9; padding: 10px}
.checkboxes {width: 800px; padding: 10px}
#all-items3 {margin-left: 20px}