/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author: Siekaj.pl - Paweł Gawlicki
   ========================================================================== */

@font-face {
    font-family: 'archivo_narrowbold';
    src: url('../fonts/archivonarrow-bold-webfont.eot');
    src: url('../fonts/archivonarrow-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivonarrow-bold-webfont.woff') format('woff'),
         url('../fonts/archivonarrow-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'archivo_narrowbold_italic';
    src: url('../fonts/archivonarrow-bolditalic-webfont.eot');
    src: url('../fonts/archivonarrow-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivonarrow-bolditalic-webfont.woff') format('woff'),
         url('../fonts/archivonarrow-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'archivo_narrowitalic';
    src: url('../fonts/archivonarrow-italic-webfont.eot');
    src: url('../fonts/archivonarrow-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivonarrow-italic-webfont.woff') format('woff'),
         url('../fonts/archivonarrow-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'archivo_narrowregular';
    src: url('../fonts/archivonarrow-regular-webfont.eot');
    src: url('../fonts/archivonarrow-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivonarrow-regular-webfont.woff') format('woff'),
         url('../fonts/archivonarrow-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'allerbold';
    src: url('../fonts/aller-webfont.eot');
    src: url('../fonts/aller-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller-webfont.woff') format('woff'),
         url('../fonts/aller-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'allerbold_italic';
    src: url('../fonts/aller_bdit-webfont.eot');
    src: url('../fonts/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bdit-webfont.woff') format('woff'),
         url('../fonts/aller_bdit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alleritalic';
    src: url('../fonts/aller_it-webfont.eot');
    src: url('../fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_it-webfont.woff') format('woff'),
         url('../fonts/aller_it-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aller_lightregular';
    src: url('../fonts/aller_lt-webfont.eot');
    src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_lt-webfont.woff') format('woff'),
         url('../fonts/aller_lt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{background: #f0f0f0}
.wrapper{width: 1000px;margin: 0 auto;}
#top{height: 78px;background: #7786a2;position: relative}
#top.float{position: fixed;top: 0;left: 0;right: 0;z-index: 100}
#top header{position: relative}
#top h1 {color: #fff;font: normal 14px "allerregular";margin: 30px 0 0 20px;float: left;}
#logo{display: block;width: 258px;height: 51px;float: left;margin-top: 15px}
#main-search{height: 382px;background: url('../img/main_bg.jpg') center 0 no-repeat}
.product-list-button{border: none;border-radius: 5px;background: #616e86 url('../img/sprite.png') 112px 13px no-repeat;width: 123px;height: 27px;font: normal 14px "archivo_narrowregular";
                    text-transform: uppercase;color: #fff;text-align: left;float: right;margin-right: 35px;margin-top: 22px;padding-left: 15px;padding-top: 8px;cursor: pointer;position: relative}
.product-list-button:hover{background-color: #505c73}

#categories-list3{position: absolute;top: 10px;z-index: 200;right: -35px;padding-top: 40px;cursor: default;display: none}
.categories-list-content{border: 3px solid #616e86;background: #f0f0f0;width: 977px;padding: 15px 0 0 15px;}
#categories-list3 .pointer{position: absolute;top: 29px;width: 32px;height: 16px;display: block;background: url('../img/bread_pointer.png') center no-repeat;right: 85px}
#categories-list3 .row>div{width: 176px;float: left;margin-right: 19px}
#categories-list3 .row>div>a{color: #fff;text-decoration: none}
#categories-list3 strong{background: #7786a2;padding: 5px 10px;text-transform: none;display: block;margin-bottom: 5px}
#categories-list3 ul{padding: 0;margin: 0;list-style: none}
#categories-list3 li{float: left;}
#categories-list3 li a{font: 12px "allerregular";text-decoration: none;text-transform: none;color: #383838}
#categories-list3 li a:hover{color: #7786a2}
#categories-list3 .row{margin-bottom: 15px}
#categories-list3 img{margin-bottom: 5px}
.product-list-button:hover #categories-list3{display: block}

#main-search-box{width: 680px;height: 70px;background: #f3f5f8;margin: 35px 0 150px 153px}
#main-search-box .text{border: none;background: none;font: normal 24px "archivo_narrowitalic";color: #5d697e;line-height: 70px;height: 70px;width: 490px;margin-left: 15px;margin-right: 15px;outline: none;float: left}
#main-search-box .submit{border: none;border-width: 0 3px 3px 0; border-style: solid;border-color: #d1574c;background: #eb6559 url('../img/sprite.png') 5px -43px;width: 151px;height: 57px;float: left;margin-top: 5px;border-radius: 5px;
font: 30px "archivo_narrowbold";color: #fff;text-align: right}
#main-search-box .submit:hover{border: none;margin-left: 2px;margin-top: 7px;}
#main-search p{text-align: center;color: #fff;font: 40px "archivo_narrowbold";margin: 0}
#main-search p.text-b{font: 26px "archivo_narrowitalic";}
#main-search p.text-b span{color: #455266}

#main-search-s {width: 360px;height: 29px;position: absolute;background: #f3f5f8;padding: 3px;border-radius: 5px;top: 21px;left: 450px}
#main-search-s #main-search-box{background: #dee5ef;margin: 0;width: 360px;height: 29px;border-radius: 5px}
#main-search-s #main-search-box .text{line-height: 29px;height: 29px;width: 260px;font-size: 14px;margin: 0 10px 0 5px}
#main-search-s #main-search-box .submit{border:none;font-size: 16px;width: 80px;height: 25px;margin-top: 2px;background-position: -150px -64px}
#main-search-s #main-search-box .submit:hover{margin: 2px 0 0 0;background-color: #da564a}

#categories-list{margin-left: 20px;color: #585858;font: 14px "allerregular";margin-top: 40px}
#categories-list ul{margin: 0;padding: 0;list-style: none}
#categories-list li{float: left;margin-right: 20px;width: 176px}
#categories-list a{text-decoration: none}
#categories-list a h2:hover{color: #79b5a5;}
#categories-list h2{color: #585858;font:normal 24px "archivo_narrowbold";line-height: 26px}
#categories-list h2 span{color: #bbbbbb;font: 14px "archivo_narrowregular"}
#categories-list .more{border-width: 0 3px 3px 0; border-style: solid;border-color: #79b5a5;background: #92d0bf;color: #fff;display: block;width: 62px;height: 23px;
     font: 13px "archivo_narrowregular";border-radius: 3px;line-height: 23px;text-align: center;}
#categories-list .more:hover{border: none;position: relative;top: 3px;left: 3px;margin-bottom: 3px}
#categories-list p a{color: #585858}
#categories-list p a:hover{color: #79b5a5}

#categories-list2{margin-left: 20px}
#categories-list2 > div{width: 176px;margin-right: 20px;float: left}
#categories-list2 ul{float: left;margin: 0;padding: 0;list-style: none}
#categories-list2 a{text-decoration: none;color: #383838;font: 14px "allerregular"}
#categories-list2 a:hover{color: #94aede}
#categories-list2 li{padding-left: 15px;margin-bottom: 3px;background: url('../img/sprite.png') 0 -109px no-repeat;color: #bbbbbb;font: 14px "allerregular"}
#categories-list2 .item > a h3{color: #94aede;font:normal 16px "archivo_narrowbold";margin: 0 0 5px 0}
#categories-list2 .item{margin-bottom: 20px}


h2.title-a{font: normal 30px "archivo_narrowbold";color: #5c6068;display: block;padding: 20px 0 10px 0;border-bottom: 2px dashed #dfe2e8;width: 957px;}
h2.title-a.no-border{border-bottom: none}

#products-list{margin-left: 20px}
#products-list a{text-decoration: none;display: block;width: 174px;height: 235px;}
#products-list ul{margin: 0;padding: 0;list-style: none;margin-bottom: 20px}
#products-list li{float: left;width: 174px;height: 235px;background: #fff;border: 1px solid #dfe2e8;border-radius: 5px;margin-right: 20px;text-align: center}
#products-list li:hover{box-shadow: 0 0 15px #a8abb1}
#products-list h3{font:normal 13px "archivo_narrowregular";color: #383838;margin-bottom: 0}
#products-list p{color: #7786a2;font: 20px "archivo_narrowbold";margin-top: 3px;margin-bottom: 7px}
#products-list span{display: inline-block;padding: 5px 10px;background: #e7eaee;border-radius: 3px;font: 13px "archivo_narrowregular"; color: #919295}

#links-list{margin-left: 20px;padding-bottom: 130px}
#links-list ul{float: left;margin: 0;padding: 0;width: 176px;margin-right: 20px;list-style: none}
#links-list a{text-decoration: none;color: #383838;font: 13px "allerregular"}
#links-list a:hover{color: #94aede}
#links-list li{padding-left: 15px;margin-bottom: 3px;background: url('../img/sprite.png') 0 -109px no-repeat}

footer{background: #5c6068;padding-bottom: 30px}
.copyrights{color: #a6abb4;font: 12px "allerregular";float: left;margin-top: 40px;width: 435px;}
footer .links{float: left;margin-right: 60px;color: #f4f4f4;margin-top: 38px}
footer .links a{color: #f4f4f4;text-decoration: none;font: normal 14px "archivo_narrowregular"}
footer .links a:hover{color: #9dbcf6}
footer .links ul{margin: 0;padding: 0;list-style: none;margin-right: 30px}
footer .links h2{margin-top: 0;font: normal 18px "archivo_narrowbold"}
footer .links li{padding-left: 15px;background: url('../img/sprite.png') 0 -148px no-repeat}

.container{background: #f5f5f5;margin: 150px auto 80px auto;}
.container.product{margin-top: 140px;display: none;}
.container #links-list{padding-bottom: 20px}

#breadcrumbs{height: 34px;background: #94aede;margin-top: 12px;position: relative;z-index: 150}
#breadcrumbs ul{margin: 0;padding: 0;list-style: none}
#breadcrumbs ul li{float: left;line-height: 34px;position: relative;}
#breadcrumbs .crumbs > li > a{font: 14px "allerregular";color: #f0f0f0;text-decoration: none;padding: 0 5px;display: block;height: 34px;line-height: 34px}
#breadcrumbs .main a{font: 14px/28px "allerbold";}
#breadcrumbs .crumbs > li.main{padding-right: 9px;background: #94aede url('../img/bread_main.jpg') 100% 0 no-repeat}
#breadcrumbs .crumbs > li{background:#869ecc url('../img/bread_seperator.jpg') 100% 0 no-repeat;padding-right: 10px;display: block;}
#breadcrumbs .crumbs > li.last{background:#869ecc url('../img/bread_last.jpg') 100% 0 no-repeat;padding-right: 10px;}
#breadcrumbs .crumbs > li > a:hover{color: #cae5fe}
#breadcrumbs .submenu{position: absolute;background: #f0f0f0;border: 3px solid #616e86;width: 170px;padding: 15px;left: 50%;margin-left: -110px;box-shadow: 3px 3px 3px rgba(0,0,0,0.1);top: 44px;
display: none;z-index: 200}
#breadcrumbs li:hover .submenu{display: block}
#breadcrumbs .submenu a{color: #383838;font: 12px "allerregular";text-decoration: none;}
#breadcrumbs .submenu a:hover{color: #9dbcf6}
#breadcrumbs .submenu li{float: none;display: block;line-height: 20px;padding-left: 15px;background: url('../img/sprite.png') 0 -148px no-repeat;position: static}
#breadcrumbs .submenu .pointer{position: absolute;top: -14px;width: 100%;height: 16px;display: block;background: url('../img/bread_pointer.png') center no-repeat;left: 0}

#category{background: #e7eaee;margin: 0 20px;padding: 20px 10px;border-radius: 5px;}
#category div{display: inline;font: 12px "allerregular";color: #5c6068;}
#category h2{margin: 0 0 10px 0;color: #5c6068;font:normal 18px "archivo_narrowbold"}
#category p{display: inline;}
#category .more{color: #7786a2;font-family: "allerbold";background: url('../img/sprite.png') -76px -88px;padding-right: 15px;cursor: pointer;}

#more-links{margin: 0 20px;padding-bottom: 40px;font: 12px "allerregular";color: #383838;}
#more-links h3{color: #5c6068;font:normal 18px "archivo_narrowbold"}
#more-links a{color: #383838;text-decoration: none;font: 12px "allerregular";}
#more-links a:hover{color: #94aede}
#more-links ul{margin: 0;padding: 0;list-style: none;}
#more-links li{float: left;margin-right: 3px}

#products{margin: 0 20px;}
#products h2 span{font-family: "archivo_narrowregular"}
#products h2 span strong{font-family: "archivo_narrowregular";color: #c3c3c5;font-weight: normal}

aside#options{width: 210px;float: left;margin-right: 20px}
.box{margin-bottom: 15px}
.box h2{color: #fff;background: #7786a2;font: normal 18px "archivo_narrowbold";margin: 0;padding: 8px 12px;border-radius: 5px}
.box .content{background: #f0f0f0;border-radius: 5px;padding: 16px 12px;position: relative;top: -5px;}
.box li a{color: #383838;font: 13px "allerregular";text-decoration: none}
.box li a:hover{color: #94aede}
.box li{color: #7786a2;font: 13px "allerregular";margin: 5px 0}
.box ul{margin: 0;padding: 0;list-style: none}
.box ul.submenu{padding-left: 15px;}
.box li a.up{color: #7786a2;font: normal 16px "archivo_narrowbold";background: url('../img/sprite.png') 140px -191px no-repeat;padding-right: 20px}
.box p{color: #383838;font: 13px "allerregular";}
.box .price input{width: 59px;height: 30px;color: #383838;font: 13px "allerregular";background: #f5f5f5;border-radius: 5px;border: 1px solid #cbcbcb;box-shadow: inset 0 -2px 2px #d9d9d9;text-align: center}
.box .price span{margin: 0 5px}
.box.closed .content{display: none;}
.box.closed h2{background:#7786a2 url('../img/sprite.png') 185px 16px no-repeat;}
.box h2:hover{background-color: #505c73}
.box h2{background:#7786a2 url('../img/sprite.png') -98px 16px no-repeat;cursor: pointer;}
.box .more{color: #7786a2;font: 13px "allerregular";text-decoration: none;background: url('../img/sprite.png') -68px -91px;padding-right: 25px;cursor: pointer}
.box ul.selectable li.selected{background: #8bcab9;display: block;color: #fff;padding: 3px 0 0 5px;border-radius: 3px}
.box ul.selectable li.selected a{color: #fff;cursor: default}
.box ul.selectable .close{color: #6a9d8f;font: bold 12px "Arial";float: right;margin-right: 5px;cursor: pointer}
.box li.hide{display: none}

#subcategory-content{float: left;width: 730px}
#filters{margin-bottom: 20px}
#filters p{float: left;width: 125px;margin: 5px 0 0 0;padding: 0;color: #383838;font: 13px "allerregular";}
#filters p span{color: #eb6559}
#filters ul{float: left;width: 595px;margin: 0;padding: 0;list-style: none}
#filters ul li{float: left;display: inline-block;background: #92d0bf;padding: 5px 5px 5px 10px;margin-right: 10px;border-radius: 5px;color: #fff;font: 14px "allerregular";margin-bottom: 10px}
#filters ul li span{margin: 0 5px 0 15px;font: 12px "Arial";color: #6a9d8f;cursor: pointer}
#filters .delete{background: #b8b8b8;font: 16px "archivo_narrowregular";border: 2px solid #9f9f9f;border-width: 0 2px 2px 0;padding-bottom: 0px;cursor: pointer;}
#filters .delete:hover{background: #a3a3a3;}

#subcategory-content .sort select{background: #f4f4f4;border: 1px solid #c6c6c6;padding: 5px;color: #383838;font: 13px "allerregular";}
#subcategory-content .sort span{color: #383838;font: 13px "allerregular";margin-right: 10px}
#subcategory-content .sort {float: left;width: 250px;}
#subcategory-content .options{padding-bottom: 20px;border-bottom: 2px dashed #b8b8b8}

.pagination{float: right;width: 450px;color: #383838;font: 13px "allerregular";padding-top: 5px}
.pagination > span{float: right;padding-top: 5px}
.pagination ul{display: inline;float: right;padding: 0;margin: 0}
.pagination li{float: left;margin: 0 3px}
.pagination li a{color: #383838;font: 14px "allerregular";text-decoration: none;}
.pagination li a,.pagination li span.separator{display: block;padding:0 10px;height: 28px;line-height: 28px}
.pagination li span.active{display: block;padding:0 10px;background: #92d0bf;color: #fff;height: 28px;line-height: 28px}
.pagination li a:hover{background-color: #dfe2e8}
.pagination li a.left_back{padding: 0;width: 9px;height: 28px;background: url('../img/sprite.png') -26px -262px no-repeat;margin: 0 5px;}
.pagination li a.left_start{padding: 0;width: 16px;height: 28px;background: url('../img/sprite.png') 1px -262px no-repeat;margin: 0 5px;}

.pagination li a.right_next{padding: 0;width: 9px;height: 28px;background: url('../img/sprite.png') 0px -238px no-repeat;margin: 0 5px;}
.pagination li a.right_end{padding: 0;width: 16px;height: 28px;background: url('../img/sprite.png') -20px -238px no-repeat;margin: 0 5px;}

#products-items .items{width: 750px}
#products-items .items li{float: left;width: 175px;margin-right: 10px;position: relative}
#products-items .items a{background: #fff;border: 1px solid #dfe2e8;border-radius: 5px;display: block;height: 246px;margin: 10px 0;overflow: hidden;width: 175px;text-decoration: none}
#products-items .items a:hover{box-shadow: 0 0 0 3px #7786a2,0 0 15px #a8abb1}
#products-items .items img{display: block;margin: 5px auto}
#products-items .items .description{margin: 0 15px;text-align: center;float: none}
#products-items .items h3{color: #383838;font:normal 13px "archivo_narrowregular";margin: 10px 0 5px 0;height: 30px}
#products-items .items .description p{margin: 0 0 5px 0;color: #8f8f8f;font: 13px "allerregular"}
#products-items .items .description p span{color: #7786a2;font-family: "allerbold"}
#products-items .items{list-style: none;padding: 0;margin: 0}
#products-items .items .button{width: 100px;height: 28px;background: #eb6559 url('../img/sprite.png') 82px -304px no-repeat;font: normal 16px "archivo_narrowregular";color: #fff;
border-radius: 5px;border-width: 0 3px 3px 0; border-style: solid;border-color: #d1574c;padding-top: 3px;display: block;text-align: center;float: right;line-height: 28px;}
#products-items .items .price p.value{color: #7786a2;font: 20px "archivo_narrowbold";margin: 0;text-align: center}
#products-items .items p.offers{font: 11px "archivo_narrowbold";color: #eb6559;text-align: center;margin: 0}
#products-items .items .details{display: none;background: #7786a2;color: #fff;font: 11px "allerregular";position: absolute;text-align: center;bottom: 10px;left: 0;right: -2px;height: 18px;padding-top: 2px}
#products-items .items a:hover .details{display: block}
#products-items .items .promo{width: 43px;height: 31px;background: url('../img/promo.png') no-repeat;position: absolute;top: 12px;right: 1px;color: #fff;font:normal 16px "archivo_narrowbold";padding-top: 10px;text-align: center}

#product-info{margin: 30px 20px;}
#product-info .zoom{float: left;margin-right: 20px;position: relative}
#product-info .zoom img{border-radius: 5px}
#product-info .zoom img:hover{box-shadow: 0 0 15px #a8abb1}
#product-info .zoom span{width: 14px;height: 15px;background: url('../img/zoom.jpg') 0 0 no-repeat;bottom: 10px;right: 10px;position: absolute}

#product-info .description{float: left;width: 450px;margin-right: 20px}
#product-info .buy-now{width: 176px;float: right;}
#product-info .buy-now h3{color: #fff;background: #7786a2;font: normal 18px "archivo_narrowbold";margin: 0;padding: 8px 12px;border-radius: 5px}
#product-info .buy-now .content{background: #f0f0f0;border-radius: 5px;padding: 16px 12px;position: relative;top: -5px}
#product-info .buy-now .button{width: 110px;height: 28px;background: #eb6559 url('../img/sprite.png') 105px -304px no-repeat;font: normal 16px "archivo_narrowregular";color: #fff;
border-radius: 5px;border-width: 0 3px 3px 0; border-style: solid;border-color: #d1574c;padding-top: 3px;text-decoration: none;display: block;line-height: 28px;padding-left: 15px;margin-left: 15px}
#product-info .buy-now .button:hover{border: none;position: relative;top: 3px;left: 3px;margin-bottom: 3px}
#product-info .buy-now p{text-align: center}
#product-info .buy-now p.shop{margin-bottom: 3px;color: #383838;font: 12px "allerregular";}
#product-info .buy-now p.price{margin-top: 0;font:normal 20px "archivo_narrowbold";color: #7786a2}
#product-info h2{color: #5c6068;font:normal 26px "archivo_narrowregular";margin: 0}
#product-info .subinfo{color: #5c6068;font:normal 18px "archivo_narrowregular";margin-top: 3px;margin-bottom: 3px}
#product-info .subinfo .green{color: #92d0bf;font-family: "archivo_narrowbold"}
#product-info .subinfo .blue{color: #7786a2;font-family: "archivo_narrowbold";}
#product-info .text{display: inline;color: #909090;font: 13px "allerregular";}
#product-info .more{color: #7786a2;font-family: "allerbold";background: url('../img/sprite.png') -76px -88px;padding-right: 15px;cursor: pointer;font-size: 12px}
#product-info .description .clearfix{margin-top: 20px}

.rank{width: 310px;float: left}
.rank p{display: inline;margin: 0;padding: 0;font: 14px "allerregular";color: #383838;margin-left: 5px;}
.rank .blue{font: 14px "allerbold";color: #7786a2}
.star{display: inline-block;width: 21px;height: 20px;background: url('../img/sprite.png') -42px -350px no-repeat}
.star.star2{background-position: -21px -350px}
.star.star1{background-position: 0px -350px}

#product-info .social a{display: inline-block;width: 23px;height: 23px;text-indent: -9999px;background: url('../img/sprite.png') no-repeat}
#product-info .social a:hover{opacity: 0.7}
#product-info .social a.fb{background-position: -1px -380px}
#product-info .social a.gp{background-position: -29px -380px}
#product-info .social{color: #383838;font: 14px "allerregular"}
#product-info .social span{margin-right: 5px;position: relative;top: 3px}

#product-options .sort select{background: #f4f4f4;border: 1px solid #c6c6c6;padding: 5px;color: #383838;font: 13px "allerregular";margin-left: 10px;text-align: left;}
#product-options .sort span{color: #383838;font: 13px "allerregular";margin-right: 10px}
#product-options .sort {float: right;width: 500px;text-align: right;}
#product-options nav{float: left;width: 400px;}
#product-options nav ul{margin: 0;padding: 0;list-style: none}
#product-options nav li{float: left;margin-right: 3px}
#product-options nav a{display: block;height: 47px;color: #5c6068;font:normal 18px/47px "archivo_narrowregular";padding: 0 25px;text-decoration: none;border-radius: 3px 3px 0 0}
#product-options nav a:hover{background-color: #dfdfdf}
#product-options nav a.first{color: #fff;background: #7786a2;}
#product-options nav a.first:hover{background: #8099c7}
#product-options{border-bottom: 3px solid #7786a2;margin: 0 20px}

#shop-items{margin: 0 20px}
#shop-items .items a{background: #fff;border: 1px solid #dfe2e8;border-radius: 5px;display: block;height: 120px;margin: 10px 0;overflow: hidden}
#shop-items .items a:hover{box-shadow: 0 0 15px #a8abb1}
#shop-items .items p.shop-name,#shop-items .items .description,#shop-items .items .price{float: left}
#shop-items .items p.shop-name{width: 180px;text-align: center;padding-top: 38px;font: 14px "allerregular";color: #383838}
#shop-items .items .description{width: 550px;margin: 0 20px}
#shop-items .items .price{width: 150px;text-align: right;float: right;text-align: center;margin-right: 20px}
#shop-items .items h3{color: #5c6068;font:normal 22px "archivo_narrowregular";margin: 10px 0 5px 0}
#shop-items .items .price .address{margin-top: 10px}
#shop-items .items .description p{margin: 0 0 5px 0;color: #8f8f8f;font: 13px "allerregular"}
#shop-items .items .description p span{color: #7786a2;font-family: "allerbold"}
#shop-items .items{list-style: none;padding: 0;margin: 0}
#shop-items .items .button{width: 150px;height: 28px;background: #eb6559 url('../img/sprite.png') 132px -304px no-repeat;font: normal 16px "archivo_narrowregular";color: #fff;
border-radius: 5px;border-width: 0 3px 3px 0; border-style: solid;border-color: #d1574c;padding-top: 3px;display: block;text-align: center;float: right;line-height: 28px;}
#shop-items .items .price p{margin-bottom: 0;font: 13px "allerregular";color: #003838;margin-top: 20px}
#shop-items .items .price p.value{color: #7786a2;font-size: 26px;margin-top: 0;margin-bottom: 10px}

#shop-items .items .description .availability-no{font: 12px "alleritalic";color: #bdbdbd;padding-left: 16px;background: url('../img/sprite.png') -2px -422px no-repeat}
#shop-items .items .description .availability-ok{font: 12px "alleritalic";color: #5b9f8c;padding-left: 16px;background: url('../img/sprite.png') -2px -453px no-repeat}
#shop-items h2{color: #5c6068;font:normal 30px "archivo_narrowregular"}
#shop-items h2 .bold{font-family: "archivo_narrowbold"}
#shop-items h2 .blue{color: #7786a2}

#reviews{margin: 0 20px}
#reviews header{border-bottom: 2px dashed #dfe2e8;padding-bottom: 10px;padding-top: 30px}
#reviews header .count{display: inline-block;padding-right: 20px;margin: 0;color: #5c6068;font:normal 18px "archivo_narrowbold"}
#reviews header span.blue{color: #7786a2}
#reviews header .rank{display: inline-block;float: none}
#reviews header .star{position: relative;top: 3px}
#reviews header .rank .value span,
#reviews header .rank .value{font:normal 18px "archivo_narrowbold";}
#reviews header .rank .value{position: relative;top: 2px;}
#reviews header .rank .span{margin-right: 5px}

.reviews-items{margin: 0;padding: 0;list-style: none}
.reviews-items .left{width: 240px;float: left;}
.reviews-items .date{display: block;color: #ababab;font: 13px "allerregular";margin-top: 3px}
.reviews-items li{margin: 15px 0;padding-left: 15px}
.reviews-items .right{float: right;width: 645px;background: #e7eaee;border-radius: 5px;position: relative;padding: 10px 20px;position: relative;color: #383838;font: 13px "allerregular"}
.reviews-items .right .pointer{width: 22px;height: 28px;background: url('../img/review_pointer.png') no-repeat;position: absolute;left: -22px;top: 30px}
.reviews-items .nick{color: #92d0bf;font:normal 18px "archivo_narrowbold";margin: 5px 0 0 0;}
.reviews-items .rank{margin-top: 20px}
.reviews-items .rank p.span{margin-right: 5px}
.reviews-items .rank .star{position: relative;top: 3px}

#add-rewiev{margin: 0 20px;}
#add-rewiev .button{width: 130px;height: 28px;background: #eb6559 url('../img/sprite.png') 112px -477px no-repeat;font: normal 16px "archivo_narrowregular";color: #fff;
border-radius: 5px;border-width: 0 3px 3px 0; border-style: solid;border-color: #d1574c;padding-top: 3px;display: block;text-align: center;float: right;line-height: 28px;text-decoration: none;margin-bottom: 20px}
#add-rewiev .button:hover{position: relative;top: 3px;left: 3px;border: none;margin-bottom: 23px}
#add-rewiev form{border: 1px solid #dfe2e8;padding: 20px;clear: both;border-radius: 5px;color: #383838;font: 14px "archivo_narrowregular";display: none}
#add-rewiev form h3{color: #5c6068;font:normal 18px "archivo_narrowbold";margin: 0 0 30px 0}
#add-rewiev form .red{color: #eb6559}
#add-rewiev form div{margin: 10px 0}
#add-rewiev form label{display: inline-block;width: 130px;text-align: right;margin-right: 20px}
#add-rewiev form input[type="text"]{width: 180px;height: 30px;border-radius: 3px;border: 1px solid #cbcbcb;box-shadow: inset 0 -2px 2px #d9d9d9;padding: 0 10px}
#add-rewiev form textarea{width: 320px;height: 120px;border-radius: 3px;border: 1px solid #cbcbcb;box-shadow: inset 0 -2px 2px #d9d9d9;padding: 10px}
#add-rewiev .lmg{margin-left: 150px}
#add-rewiev input[type="submit"]{width: 80px;height: 28px;font: normal 16px "archivo_narrowregular";color: #fff;background: #eb6559;
border-radius: 5px;border-width: 0 3px 3px 0; border-style: solid;border-color: #d1574c;padding-top: 3px;display: block;text-align: center;margin-bottom: 20px}
#add-rewiev input[type="submit"]:hover{position: relative;top: 3px;left: 3px;}

#float{position: absolute;z-index: 120;background: #9eb8e8;top: 58px;min-height: 10px;width: 100%}
#float.fixed{top: 0;position: fixed;}
#slider{height: 120px;;padding-top: 8px;position: relative;overflow: hidden}
#bx-slider{margin: 0;padding: 0;list-style: none}
#bx-slider .item{float: left;margin: 0 8px;width: 105px;height: 105px;background: #fff;border-radius: 5px;margin-bottom: 30px;text-align: center;position: relative;}
#bx-slider .item a{text-decoration: none;color: #383838;font: 13px "allerregular";display: block;width: 105px;height: 105px;}
#bx-slider .item:hover,#bx-slider .item.active{box-shadow: 0 0 0 3px #7786a2}
#slider .bx-viewport{padding: 3px 0}
#bx-slider .item strong{font-weight: normal;font-size: 10px}
#bx-slider .item p{margin: 0}
#bx-slider .item p span{color: #7786a2;font:normal 20px "archivo_narrowbold"}
#bx-slider .item img{display: block;margin: 3px auto 0}
#bx-slider .item .promo{width: 43px;height: 31px;background: url('../img/promo.png') no-repeat;position: absolute;top: 1px;right: 1px;color: #fff;font:normal 16px "archivo_narrowbold";padding-top: 10px;}
#slider .bx-pager{display: none}

#slider #navigate{position: absolute;right: 0;top: 0;height: 120px;background: #9eb8e8;width: 105px;padding-top: 10px;box-shadow: -4px 0 0 0 rgba(0,0,0,0.2);text-align: center}
#slider #navigate div{width: 46px;height: 45px;background: url('../img/sprite.png') 0 0 no-repeat;display: block;cursor: pointer;display: inline-block;margin-top: 20px}
#slider #navigate div a{display: block;width: 46px;height: 45px;text-indent: -9999px}
#slider #navigate div:hover{opacity: 0.8}
#slider #navigate div.prev{background-position: -6px -522px;}
#slider #navigate div.next{background-position: -57px -522px;}
#slider #navigate button{width: 90px;height: 22px;font: normal 12px "archivo_narrowregular";color: #fff;background: #eb6559;
border-radius: 5px;border-width: 0 3px 3px 0; border-style: solid;border-color: #d1574c;padding-top: 3px;display: block;text-align: center;margin: 15px auto 0 auto}
#float .toggle{width:20px;height: 15px;background: url('../img/sprite.png') -31px -580px no-repeat;position: absolute;bottom: -15px;right: 85px;display: block;cursor: pointer}
#float .toggle.close{background-position: -6px -580px}

#top .recommend{position: absolute;left: 10px;font:normal 22px/34px "archivo_narrowregular";color: #fff;padding-right: 30px;background: url('../img/sprite.png') 77px -605px no-repeat;bottom: 5px}
#top.tight #logo img{width: 70%}
#top.tight #logo {margin-top: 10px}
#top.tight{height: 58px}
#top.tight h1{margin-top: 20px}
#top.tight #main-search-s{top: 11px}
#top.tight .product-list-button{margin-top: 12px}

@media (max-width: 1300px){
    #top .recommend{display: none}
}

#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(../img/loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(../img/close.png);}
#sb-nav-next{background-image:url(../img/next.png);}
#sb-nav-previous{background-image:url(../img/previous.png);}
#sb-nav-play{background-image:url(../img/play.png);}
#sb-nav-pause{background-image:url(../img/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(close.png);}
#sb-nav-next{background-image:url(next.png);}
#sb-nav-previous{background-image:url(previous.png);}
#sb-nav-play{background-image:url(play.png);}
#sb-nav-pause{background-image:url(pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
