<?php foreach ($this->categories as $iKey => $aCategory): ?>
                
<?php  $iFilterNum = isset($aCategory['filter_num']) ? $aCategory['filter_num'] : 0 ?>
<tr data="<?php echo $aCategory['id']; ?>">
                        
                        <td>
                          
                            <a class="expand" href="<?php echo $this->url(array('action' => 'subcategorytwo' , 'id' => $aCategory['id'], null)); ?>"><i class="icon-plus"></a></i>
                         </td>
                          
                         <td class="image_thumb">
                             
                            <?php if(empty($aCategory['image'])): ?>
                             <img class="thumb" data="<?php echo $aCategory['id']; ?>" level="1" style="width: 50px; height: 50px;" src="/images/no_pic.jpg" />
                            <?php else: ?>
                             <img class="thumb" data="<?php echo $aCategory['id']; ?>" level="1" style="width: 50px; height: 50px;" src="<?php App_Image::uri($aCategory['image'], '50x50') ?>" />
                            <?php endif; ?>
                        </td>
                        
                        
                        <td class="name">
                             <?php echo $aCategory['name']; ?>
                        </td>
                        <td>
                            <a class="btn description" data="<?php echo $aCategory['description']; ?>" href="/admin/category/description/level/1/id/<?php echo $aCategory['id']?>">Opis</a>

                        </td>
                    </tr>

                <?php endforeach; ?>