
<?php foreach ($this->categories as $iKey => $aCategory): ?>
<?php  $iFilterNum = isset($aCategory['filter_num']) ? $aCategory['filter_num'] : 0 ?>
<tr data="<?php echo $aCategory['id']; ?>">
                        
                          
                         <td class="image_thumb">
                             
                            <?php if(empty($aCategory['image'])): ?>
                             <img class="thumb" data="<?php echo $aCategory['id']; ?>" level="3" style="width: 50px; height: 50px;" src="/images/no_pic.jpg" />
                            <?php else: ?>
                             <img class="thumb" data="<?php echo $aCategory['id']; ?>" level="3" style="width: 50px; height: 50px;" src="<?php echo App_Image::uri($aCategory['image'], '50x50') ?>" />
                            <?php endif; ?>
                        </td>
                        
                        
                        <td class="name">
                             <?php echo $aCategory['name']; ?>
                        </td>
                        <td>
                           <?php if($aCategory['promoted']): ?>
                                <a class="btn promote" href="/admin/category/promote/level/3/id/<?php echo $aCategory['id']?>">Nie promuj</a>
                           <?php else: ?>
                                <a class="btn promote" href="/admin/category/promote/level/3/id/<?php echo $aCategory['id']?>">Promuj</a>
                            <?php endif; ?>

                            <a class="btn description" data="<?php echo $aCategory['description']; ?>" href="/admin/category/description/level/3/id/<?php echo $aCategory['id']?>">Opis</a>
                            
                        </td>
                    </tr>

                <?php endforeach; ?>