<?php if ($this->pageCount > 1): ?>

<?php $oView = Zend_Controller_Front::getInstance()->getParam('bootstrap')->getResource('view');  ?>
<?php $sQuery = isset($oView->data->query) ?  $oView->data->query : ''  ?>

<div class="pagination pagination pagination-right">
<ul>
<?php if (isset($this->previous)): ?>
<li><a href="<?php echo $this->url(array('page' => $this->previous)).$sQuery; ?>"><span><</span></a></li>
<?php endif; ?>

<?php foreach ($this->pagesInRange as $page): ?>
<li <?php if($page == $this->current) echo 'class="active"'; ?>><a href="<?php echo $this->url(array('page' => $page)).$sQuery; ?>"><span><?php echo $page; ?></span></a></li>
  <?php endforeach; ?>
 
<?php if (isset($this->next)): ?>
<li><a href="<?php echo $this->url(array('page' => $this->next)).$sQuery; ?>"><span>></span></a></li>
<?php endif; ?>
</div>
<?php endif; ?>
