<tr>
    <td class="type"><?php echo $this->param['type']; ?></td>
    <td class="eq"><?php echo $this->param['eq']; ?></td>
    <td class="from"><?php echo $this->param['from']; ?></td>
    <td class="to"><?php echo $this->param['to']; ?></td>
    <td><a class="btn param_remove" href="<?php echo $this->url(array('controller' => 'parameter', 'action' => 'remove', 'id' => $this->param['id'])); ?>">Usuń</a></td>
</tr>