<div class="span8 offset1">
    <ul class="breadcrumb">
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'static', 'action' => 'list'), null, false); ?>">Stony statyczne</a> <span class="divider">/</span></li>
        <li class="active">Dodaj strony statyczne</li>
    </ul>
</div>


<div class="span8 offset1 form-wrapper">



    <div class="form">
        <h2>Dodaj stronę</h2>
        <figure>Użyj znacznika <strong>[x]</strong> w miejscach gdzie ma być wstawiona nazwa (w zależności od typu - nazwa produktu, kategorii czy szukana fraza)</figure>
        <form method="POST" class="form-vertical">
            <?php echo $this->form; ?>
            
    </div>
</div>