<div class="span8 offset1">
    <ul class="breadcrumb">
        <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'static', 'action' => 'list')); ?>">Strony statyczne</a> <span class="divider">/</span></li>
        <li class="active">Edytuj stronę statyczną</li>
    </ul>
</div>

<div class="span8 offset1 form-wrapper">
    <div class="form">
        <h2>Edytuj stronę</h2>
        <form method="POST" class="form-vertical">
            <?php echo $this->form; ?>
            
    </div>
    <script>
    
    var elem3 = <?php echo Zend_Json::encode(explode(',' , $this->tag['cat3res'] )); ?>;
    var elem4 = <?php echo Zend_Json::encode(explode(',' , $this->tag['cat4res'])); ?>;
    </script>
    
    
</div>