<div class="span10 offset1">

    <ul class="breadcrumb">
        <li class="active">Tag</li>
    </ul>


    <p style="text-align: right">
        <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'tag', 'action' => 'add')); ?>" class="btn btn-large btn-primary">Dodaj tag</a>
    </p>
    
    <?php echo $this->grid; ?>
</div>

