<div class="span11">
    <?php if (count($this->list) > 0): ?>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Title</th>
                    <th>description</th>
                    <th>Keywords</th>
                    <th>Operacje</th>
                </tr>
            </thead>
            <tbody>
                <?php $iLoop = 0; ?>
            <?php foreach($this->list  as $iKey => $aMeta): ?>
            <tr>
            <td><?php echo ++$iLoop; ?></td>
            <td><?php echo $aMeta['name']; ?></td>
            <td><?php echo $this->label($aMeta['title']); ?></td>
            <td><?php echo $this->label($aMeta['description']); ?></td>
            <td><?php echo $this->label($aMeta['keywords']); ?></td>
            <td><a class="btn" href="<?php echo $this->url(array('action' => 'manage' , 'id' => $iKey)); ?>">Zarządzaj</a></td>
          </tr>
    <?php endforeach; ?>    
              </tbody>
        </table>
    <?php endif; ?>
</div>