<div class="span8 offset1 form-wrapper">
    <div class="form">
        <div class="row">
            <div class="span8 offset1">

                <h2>Edytuj metatagi</h2>
                <form method="POST" class="form-vertical">
                                    
                    <?php echo $this->form->title; ?>
                    <?php echo $this->form->description; ?>
                    <?php echo $this->form->keywords; ?>
                    
                    <?php echo $this->form->submit; ?>
                </form>

            </div>
            <div class="span2" style="padding-top: 200px">
                <?php if (isset($this->addons)): ?>
                    <div class="btn-group">
                        <?php foreach ($this->addons as $sAddon): ?>
                            <button class="btn add-tag"><?php echo $sAddon; ?></button>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>  
            </div>
        </div>
    </div>
</div>