 <div id="left">
                    <img src="/images/logo.png" alt="" />
                    <p class="polowanie">Polowanie <br /> <span>na tanie oferty!</span></p>
                    <div id="rtext">
                        <span id="rtext1">Wypełnij formularz, a my kilka razy</span>
                        <span id="rtext2">dziennie będziemy szukać najlepszej oferty</span>
                    </div>
                </div>
                <div id="right">
                    <p class="slogan">Pozwól, że pomozemy Ci w zakupie wakacji. <span>Zostaw nam informację, a skontaktujemy się z Tobą</span></p>
                    <form action="" method="post" id="first">
                        <fieldset>  
                            <?php echo $this->form->name->renderLabel(); ?>
                            <?php echo $this->form->name->renderViewHelper(); ?> 
                            <?php echo $this->form->phone->renderLabel(); ?>
                            <?php echo $this->form->phone->renderViewHelper(); ?> 
                            <?php echo $this->form->email->renderLabel(); ?>
                            <?php echo $this->form->email->renderViewHelper(); ?> 
                            <?php echo $this->form->where->renderLabel(); ?>
                            <?php echo $this->form->where->renderViewHelper(); ?> 
                            <?php echo $this->form->when->renderLabel(); ?>
                            <?php echo $this->form->when->renderViewHelper(); ?> 
                            <?php echo $this->form->additional->renderLabel(); ?>
                            <?php echo $this->form->additional->renderViewHelper(); ?> 
                          
                            <p class="info">
                                  <?php echo $this->form->agree->renderViewHelper(); ?> 
                                Wyrażam zgodę na przetwarzanie moich danych osobowych
                                zawartych w zgłoszeniu dla potrzeb rekrutacji, zgodnie z ustawą
                                z dnia 2 sierpnia 1997 roku
                            </p>
                            <input id="send_pop" type="submit" name="ok" value="wyślij" />
                        </fieldset>
                    </form>
                </div>
            </div>