     <div class="product-list-button">Produkty
                <div id="categories-list3">
                    <span class="pointer"></span>
                    <div class="categories-list-content clearfix">

                        <?php $iLoop = 0; ?>

                        <div class="clearfix row">
                            <?php foreach ($this->categories as $iKey => $aCategory): ?>
                            <?php $iLoop++; ?>
                                <div>
                                    <a href="<?php echo $this->url(array('url' => $aCategory['seo']), 'category'); ?>"><strong><?php echo $aCategory['name']; ?></strong></a>
                                    <ul>
                                        <?php foreach ($aCategory['elems'] as $aSubCategory): ?>
                                            <li><a href="<?php echo $this->subcategoryUrl(array('url' => $aSubCategory['url'])); ?>"><?php echo $aSubCategory['name']; ?></a>, </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                                <?php if ($iLoop % 5 == 0): ?>
                                </div>
                                <div class="clearfix row">
                                    <?php $iLoop = 0; ?>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </div>
                    </div>
                </div>
            </div>