<?php $oReq = new Zend_Controller_Request_Http;  ?>
<?php $sQuery = http_build_query($oReq->getQuery()); ?>
<?php if(!empty($sQuery)) $sQuery = '?' . $sQuery;  ?>
<?php $helper = $this->helper; ?>
    
<nav class="pagination">
    <ul>

        <?php if($this->data['back']): ?>
        <li><a href="<?php echo $this->$helper($this->params, array('page' => $this->data['page'] - 1), null, true); ?>"><span> < </span></a></li>
        <?php endif; ?>
        
    <li><a href="#"><span class="active"><?php echo $this->data['page'] ?></span></a></li>
        
        <?php if($this->data['forward']): ?>
        <li><a href="<?php echo $this->$helper($this->params, array('page' => $this->data['page'] + 1), null, true); ?>"><span> > </span></a></li>
        <?php endif; ?>
   
    </ul>
</nav>


