<?php $oReq = new Zend_Controller_Request_Http;  ?>
<?php $sQuery = http_build_query($oReq->getQuery()); ?>
<?php if(!empty($sQuery)) $sQuery = '?' . $sQuery;  ?>
<?php $helper = $this->helper; ?>
    
<nav class="pagination">
    <ul>
        <?php if ($this->firstPageInRange > $this->first): ?>
        <?php if ($this->first == $this->current): ?>
        <li><span class="active"><a href="<?php echo $this->$helper($this->params, array('page' => $this->first)); ?>"><?php echo $this->first ?></span></a></li>
        <?php else: ?>
        <li><a href="<?php echo $this->$helper($this->params, array('page' => $this->first)); ?>"><?php echo $this->first ?></a></li>
        <?php endif; ?>

            <?php if ((intval($this->firstPageInRange) - intval($this->first)) > 1) : ?>
                <li class="sep"><span>...</span></li>
            <?php endif; ?>
        <?php endif; ?>


        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>

        <?php if ($page == $this->current): ?>
        <li><a href="<?php echo $this->$helper($this->params, array('page' => $page)); ?>"><span class="active"><?php echo $page; ?></span></a></li>
        <?php else: ?>
            <li><a href="<?php echo $this->$helper($this->params, array('page' => $page)); ?>"><?php echo $page; ?></a></li>
            <?php endif; ?>
        <?php endforeach; ?>

        <!-- Next page link -->

        <?php if ($this->lastPageInRange < $this->last): ?>

            <?php if ((intval($this->last) - intval($this->lastPageInRange)) > 1) : ?>
                <li class="sep"><span>...</span></li>
            <?php endif; ?>
            <li<?php if ($this->last == $this->current): ?> class="active"<?php endif; ?>><a href="<?php echo $this->$helper($this->params, array('page' => $this->last)); ?>"><?php echo $this->last ?></a></li>
        <?php endif; ?>


        

    </ul>
</nav>


