
<?php if(isset($this->mode) && $this->mode == 'subcategory'): ?>
<?php $sLink =  $this->url(array('id' => $this->product['id'], 'name' => $this->seo($this->product['name'])), 'redirect_name'); ?>
<?php $sTarget = ' target="_blank"'; ?>
    <?php else : ?>
<?php $sLink =  $this->url(array('id' => $this->product['id'], 'url' => $this->seo($this->product['name'])), 'product'); ?>
<?php $sTarget = ''; ?>
<?php endif; ?>


<li class="product">
    <a href="<?php echo $sLink; ?>" class="clearfix"<?php echo $sTarget?>>
        <img src="<?php echo App_Image::uri($this->product['image'], '140x100'); ?>" width="140px" height="100px">
        <div class="description">
            <h3><?php echo $this->product['name']; ?></h3>
        </div>
        <div class="price" style="margin-top: 30px">
            <p class="value">od <?php echo $this->product['min_price']; ?> zł</p>
        </div>
        <p class="offers"><?php echo $this->product['offers']; ?> ofert</p>
        <span class="details">zobacz szczegóły</span>
        <?php if($this->tag !== null): ?>
        <span class="promo">-<?php echo $this->tag; ?>%</span>
        <?php endif; ?>
    </a>
</li>

