           <div id="main-search-s">
                    <section class="clearfix">
                        <form action="<?php echo $this->url(array(), 'searchraw'); ?>" method="get" id="main-search-box">
                            <input class="text" type="text" id="search" name="search" placeholder="Wpisz szukaną nazwę produktu...">
                            <input class="submit" type="submit" value="szukaj">
                        </form>
                    </section>
                </div>