<?php $loop = 0; ?>
<?php foreach($this->shops as  $aShop): ?>

<?php preg_match('/\?click=(.*?)\'+/' , $aShop['direct_click_url'], $aScore); ?>

<li class="shopped">
    <a target="_blank" href="<?php echo $this->url(array('id' => $this->id, 'hash' => $aScore[1], 'name' => $this->seo($aShop['title'])), 'redirect_id'); ?>" class="clearfix">
        <img src="<?php echo $aShop['image']; ?>" height="100" width="140">
        <div class="description">
            <h3 style="overflow: hidden"><?php echo  $aShop['title']; ?></h3>
        </div>
        <div class="price" style="margin-top: 30px">
            <p class="value">od <?php echo str_replace(',', '.', $aShop['price']); ?> zł</p>
        </div>
        <p class="offers"><?php echo $aShop['shop_name']; ?></p>
        <span class="details">zobacz szczegóły</span>
        <?php if($this->tags[$loop] !== null): ?>
        <span class="promo">-<?php echo $this->tags[$loop]; ?>%</span>
        <?php endif; ?>
    </a>
</li>
<?php $loop += 1; ?>
<?php endforeach; 
