 <article>
                        <form>
                        <label><a href="<?php echo $this->url(array('id' => $this->product['id']), 'product_shops') ?>">
                                
                                <?php if($this->product['images'] > 0): ?>
                                <img src="<?php echo Model_Logic_Category::getInstance()->imagePath($this->product['id'], false); ?>/1-110x80.jpg" width="110" height="80" alt=""></a></label>
                            <?php else: ?>
                            <img src="/images/nopic-80x110.jpg" width="110" height="90" alt=""></a></label>
                            <?php endif; ?>
                        </form>
                        <div class="description">
                            <h3  class="header_title"><a href="<?php echo $this->url(array('id' => $this->product['id']), 'product_shops') ?>"><?php echo $this->product['name'] ?></a></h3>
                            <div class="more-less">
                                <div class="more-block" style="overflow: hidden">
                                    <?php echo $this->product['description'] ?>
                                </div>
                            </div>
                        </div>
                        <div class="block_price">
                            <p class="price">Już od<strong> <?php echo $this->product['price'] ?> zł</strong></p>
                            <p><a href="<?php echo $this->url(array('id' => $this->product['id']), 'product_shops') ?>" class="button">Kupuj najtaniej</a></p>
                            <p class="stores">w <strong><?php echo $this->product['shops'] ?></strong> sklepach</p>
                        </div>
                        <footer class="footer_product">
                            <div class="rating_title">Ocena: </div>
                            <div class="block-rating">
                                <div class="star" data-score="<?php  echo !empty($this->product['raty']) ? intval($this->product['raty']) : 0; ?>" data="<?php echo $this->url(array('id' => $this->product['id']), 'add_raty'); ?>"></div>
                                <div class="target"><span class="item_counter">(<?php echo $this->product['opinions']; ?> opini)</span></div>
                            </div>
                            <aside> <a href="<?php echo $this->url(array('id' => $this->product['id']), 'add_alarm') ?>" class="clock_alarm">Ustaw alarm cenowy</a> <a href="<?php echo $this->url(array('id' => $this->product['id']), 'add_favorite') ?>" class="add_faworite">Dodaj do ulubionych</a> </aside>
                        </footer>
                    </article>