

<section class="breadcrumb">
    <nav>
        <ul>
            <li>Jesteś tu:</li>
            <li><a href="/">Strona główna</a></li>
            <?php foreach ($this->breadcrumbs as $iKey => $aElem): ?>
                <li><a href="/<?php echo $aElem['seo']; ?>"><?php echo $aElem['name']; ?></a></li>
            <?php endforeach; ?>
            <li><?php echo $this->product['name']; ?></li>
        </ul>
    </nav>
</section> 

<article class="desc">
    <div class="carousel-holder">
        <div class="box style-4">
            <ul class="large-img">

                <?php if ($this->product['images'] > 0): ?>
                    <?php for ($i = 1; $i <= $this->product['images']; $i++): ?>
                        <li><a href="<?php echo Model_Logic_Product::getInstance()->imagePath($this->product['id']) . '/' . $i . '.jpg' ?>" class="lightbox"><img src="<?php echo Model_Logic_Product::getInstance()->imagePath($this->product['id']) . '/' . $i . '-212x154.jpg' ?>" width="212" height="154" alt=""><span class="zoom">kliknij, aby powiększyć</span></a></li>
                    <?php endfor; ?>
                <?php else: ?>
                    <img src="/images/nopic-212x154.jpg" width="212" height="154" alt="">
                <?php endif; ?>
            </ul>
            <div class="controls">
                <a href="#" class="link-prev">Previous</a>
                <a href="#" class="link-next">Next</a>
            </div>
        </div>
    </div>
    <div class="desc-right">
        <div class="col-left">
            <header>

                <h1><?php echo $this->product['name']; ?></h1>
                <p>Dostępny w <span class="item_counter"><?php echo $this->product['shops'] ?></span> sklepach od <strong class="item_counter"><?php echo $this->product['price']; ?> zł</strong></p>
            </header>
            <div id="desription" style="overflow: hidden; height: 150px">
                <?php echo $this->product['description']; ?>

            </div>
            <a href="<?php echo $this->url(array('id' => $this->product['id']), 'product_detail'); ?>" class="hide_show show_two">więcej</a>
        </div>
        <div class="box clearfix" id="promotion">
            <h3>Poleceana oferta</h3>
            <img width="89" height="22" src="<?php echo $this->bestoffer['thumb'] ?>" alt="<?php echo $this->bestoffer['name'] ?>">
            <p class="price"><?php echo $this->bestoffer['lowest_price']; ?> zł</p>
            <a class="button" href="<?php echo $this->url(array('id' => $this->bestoffer['id'], 'product' => $this->product['id']), 'tracker'); ?>">Zobacz w sklepie</a>
        </div>

        <footer>
            <div class="fringe_rate">
                <div class="rating_title">Ocena: </div>
                <div class="block-rating">
                    <div class="star" data-score="<?php echo!empty($this->product['raty']) ? intval($this->product['raty']) : 0; ?>" data="<?php echo $this->url(array('id' => $this->product['id']), 'add_raty'); ?>"></div>
                    <div class="target"><span class="item_counter">(<?php echo $this->product['opinions'] ?> opini)</span></div>
                </div>
            </div>
            <p>
                <a href="<?php echo $this->url(array('id' => $this->product['id']), 'add_alarm') ?>" class="clock_alarm">Ustaw alarm cenowy</a> 
                <a href="<?php echo $this->url(array('id' => $this->product['id']), 'add_favorite') ?>" class="add_faworite">Dodaj do ulubionych</a>
                <a href="#" class="add_error">Zgłoś błąd</a>
            </p>
        </footer>
    </div>
</div>
</article>

<script>
    $(document).ready(function(){
    
        $('.show_two').click(function(){document.location.href = $(this).attr('href')}); 
    
    });


</script>