<ul class="items">
   <?php foreach($this->shops['offer'] as $aShop): ?>

           <li>
                            <a href="<?php echo $aShop['link']; ?>" class="clearfix">
                                <p class="shop-name"><?php echo $aShop['dealer']; ?></p>
                                <div class="description">
                                    <h3>Nikon Coolpix AW100</h3>
                                    <p>20,4-megapikselowy przetwornik CMOS Exmor R, zoom optyczny 30x, obiektyw typu G, stabilizator obrazu Optical SteadyShot, Wi-Fi i pokrętło EV....</p>
                                    <p class="availability-ok">dostępny od ręki</p>
                                </div>
                                <div class="price">
                                    <p class="address"><?php echo $aShop['dealer']; ?></p>
                                    <p class="value"><?php echo $aShop['price']; ?></p>
                                    <span class="button">przejdź do sklepu</span>
                                </div>
                            </a>
   <?php endforeach; ?>
                    </ul>