    <body>
        <div id="top" class="float">
            <header class="wrapper clearfix">
                <a id="logo" href="/">
                    <img src="/images/logo.png" alt="dobracena.pl - najlepsze ceny w sieci!">
                </a>
                <h1>Najlepsze ceny w sieci!</h1>
                <?php echo $this->partial('_partial/product_search.phtml');  ?>
              <?php echo $this->partial('_partial/headerProducts.phtml', array('categories' => $this->categories)); ?>
            </header>
            <div id="breadcrumbs">
                <div class="wrapper">
                    <ul class="crumbs">
                       <li class="main">
                        <a href="/">Strona główna</a>
                         <ul class="submenu">
                            <li>
                                <span class="pointer"></span>
                            </li>
                            <?php foreach ($this->category_one as $aCat): ?>
                                <li>
                                   <a href="<?php  echo $this->url(array('url' => $aCat['url'])); ?>"><?php echo $aCat['name']; ?></a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="<?php echo $this->url(array('url' => $this->category['url']), 'category'); ?>"><?php echo $this->category['name']; ?></a>
                        <ul class="submenu">
                            <li>
                                <span class="pointer"></span>
                            </li>
                            <?php foreach ($this->category_two as $aCat): ?>
                                <li>
                                    <a href="<?php echo $this->groupUrl(array('url' => $aCat['url'])); ?>"><?php echo $aCat['name']; ?></a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </li>
                    
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container wrapper">
            <div class="wrapper">

                 <h2 class="title-a no-border"><?php echo $this->category['name']; ?></h2>
                <section id="categories-list2" class="js-masonry clearfix" data-masonry-options='{ "columnWidth": 220, "gutter" : 100, "itemSelector": ".item" }'>
                   
                    
                    <?php foreach($this->categories as $aCategory): ?>
                    <div class="item">
                        <a href="<?php echo $this->groupUrl(array('url' => $aCategory['seo'])); ?>"><h3><?php echo $aCategory['name']; ?></h3></a>
                        <ul>
                            <?php foreach($aCategory['elems'] as $aSubcategory): ?>
                            <li><a href="<?php echo $this->subcategoryUrl(array('url' => $aSubcategory['url'])); ?>"><?php echo $aSubcategory['name']; ?></a> (<?php echo $aSubcategory['count']; ?>)</li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                    <?php endforeach; ?>
                </section>
            </div>
            <div class="wrapper">
                <section id="products-list" class="clearfix">
            <h2 class="title-a">Polecane produkty</h2>
            <ul class="clearfix">
                <?php foreach ($this->promoted as $iKey => $aPromoted): ?>

                    <?php if (($iKey % 5) == 0 && $iKey != 0): ?>
                    </ul>
                    <ul class="clearfix">
                    <?php endif; ?>

                    <li>
                        <a href="<?php echo $this->url(array('id' => $aPromoted['id'], 'url' => $this->seo($aPromoted['name'])), 'product'); ?>">
                            <img src="<?php echo App_Image::uri($aPromoted['image'], '120x120') ?>">
                            <h3><?php echo $aPromoted['name']; ?></h3>
                            <p><?php echo $aPromoted['min_price']; ?> zł</p>
                            <span><?php echo $aPromoted['offers']; ?> ofert</span>
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul>
        </section>
            </div>
            <div class="wrapper">
                <article id="category">
                    <?php if(!empty($this->category['description'])): ?>
                    <h2><?php echo $this->category['name']; ?></h2>
                    <p class="short"><?php  echo substr($this->category['description'], 0, 128); ?></p>
                        <div class="hidden more-description">                        
                                <?php  echo $this->category['description']; ?>
                            </div>
                    <br />
                        <span class="more-desc">czytaj więcej</span>
                        <?php endif; ?>
                    
                    
                    </div>
                </article>
            </div>
         
            <div class="wrapper">
                <section id="more-links" class="clearfix">
                    <h3>Użytkownicy, którzy oglądali ten produkt oglądali także:</h3>
                    <ul>
                          <?php foreach($this->box as $aSearch): ?>
                        <li>
                            <?php echo $aSearch; ?>| 
                        </li>
                        <?php endforeach; ?>
                    </ul>
                </section>
            </div>
        </div>
        <footer class="clearfix">
            <div class="wrapper">
                <p class="copyrights">Copyright ©2013 - dobracena.pl - Wszystkie prawa zastrzeżone.</p>
                <div class="links">
                    <h2>Nasza oferta</h2>
                    <ul>
                        <li>
                            <a href="">Dla sprzedawców</a>
                        </li>
                        <li>
                            <a href="">Dla witryn internetowych</a>
                        </li>
                        <li>
                            <a href="">Dla reklamodawców</a>
                        </li>
                        <li>
                            <a href="">Dla producentów i importerów</a>
                        </li>
                    </ul>
                </div>
                <div class="links">
                    <h2>Nasza oferta</h2>
                    <ul>
                        <li>
                            <a href="">O nas</a>
                        </li>
                        <li>
                            <a href="">Nasze serwisy</a>
                        </li>
                        <li>
                            <a href="">Relacje inwestorskie</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        
        <script>
            
             $('.more-desc').click(function() {

                $(this).parent().find('.more-description').removeClass('hidden');
                $(this).parent().find('.short').remove(); 
                $(this).remove();
            });
            
            </script>