<body>
    <div id="top" class="float">
        <header class="wrapper clearfix">
            <a id="logo" href="/">
                <img src="/images/logo.png" alt="dobracena.pl - najlepsze ceny w sieci!">
            </a>
            <h1>Najlepsze ceny w sieci!</h1>
            <div id="main-search-s">
                <section class="clearfix">
                    <form action="" method="post" id="main-search-box">
                        <input class="text" type="text" placeholder="Wpisz szukaną… nazwę produktu...">
                        <input class="submit" type="submit" value="szukaj">
                    </form>
                </section>
                
            </div>
              <?php echo $this->partial('_partial/headerProducts.phtml', array('categories' => $this->categories)); ?>
        </header>
       
        <div id="breadcrumbs">
            <div class="wrapper">
                   <ul class="crumbs">
                    <li class="main">
                        <a href="/">Strona główna</a>
                         <ul class="submenu">
                            <li>
                                <span class="pointer"></span>
                            </li>
                            <?php foreach ($this->categoriesOne as $aCat): ?>
                                <li>
                                    <a href="<?php echo $this->url(array('url' => $aCat['seo']) , 'category'); ?>"><?php echo $aCat['name']; ?></a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </li>
                    <li>
                        <a href="<?php echo $this->url(array('url' => $this->actual['one_url']) , 'category'); ?>"><?php echo $this->actual['one_name']; ?></a>
                        <ul class="submenu">
                            <li>
                                <span class="pointer"></span>

                            </li>
                            <?php foreach ($this->categoriesTwo as $aCat): ?>
                                <li>
                                   
                                    <a href="<?php echo $this->groupUrl(array('url' => $aCat['url'])); ?>"><?php echo $aCat['name']; ?></a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </li>
                    <li class="last">
                         
                        <a href="<?php echo $this->groupUrl(array('url' => $this->actual['url'])); ?>"><?php echo $this->actual['name']; ?></a>
                        
                            
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container wrapper">
        <div class="wrapper">
            <section id="products" class="clearfix">
                <h2 class="title-a no-border"><?php echo $this->actual['name'] ?>: <span><?php echo count($this->ids)  * 2; ?> <strong>produktów</strong></span></h2>
                <aside id="options">
                    <div class="box">
                        <h2>Kategorie</h2>
                        <div class="content">
                            <ul>
                                <li>
                                    <a class="up" href="<?php echo $this->url(array('url' => $this->actual['one_url']), 'category');  ?>"><?php echo $this->actual['name'] ?></a>
                                    <ul class="submenu">
                                        <?php foreach($this->subcategories as $aSub): ?>
                                        <li>
                                            <a href="<?php echo $this->subcategoryUrl(array('url' => $aSub['url'])) ?>"><?php echo $aSub['name']; ?> </a>
                                        </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <?php $aPickedFilters = array(); ?>
                    <div class="box">
                        <h2>Cena</h2>
                        <div class="content">
                            <p>Wpisz własny przedział cen:</p>
                            <form class="price" action="" method="post">
                                <input placeholder="od" type="text"<?php if(!empty($this->params['filters']['pf'])): $aPickedFilters[] = array('name' => '> '.$this->params['filters']['pf'].' zł', 'url' => $this->groupUrl($this->params, null, 'pf')); ?> value="<?php echo $this->params['filters']['pf']; ?>"<?php endif; ?> id="price_from" class="price" name="pf">
                                <span>-</span>
                                <input placeholder="do" type="text"<?php if(!empty($this->params['filters']['pt'])): $aPickedFilters[] = array('name' => '< '.$this->params['filters']['pt'].' zł', 'url' => $this->groupUrl($this->params, null, 'pt')); ?> value="<?php echo $this->params['filters']['pt']; ?>"<?php endif; ?> id="price_to" class="price" name="pt">
                            </form>
                        </div>
                    </div>
                    
                   
                    <div class="box">
                        <h2>Podobne</h2>
                        <div class="content">
                            <ul class="selectable">
                                <?php foreach ($this->similiars as $iKey => $aSimiliar): ?>
                                      <li<?php if ($iKey > 4): ?> class="hide"<?php endif; ?>><a href="<?php echo $this->SearchUrl(array('url' => $aSimiliar['url'])); ?>"><?php echo $aSimiliar['name']; ?></a></li>
                                <?php endforeach; ?>
                            </ul>
                            <span class="more">zobacz więcej</span>
                        </div>


                    </div>

                </aside>
                <section id="subcategory-content">
                    <div id="filters" class="clearfix">
                        <p>Wybrane filtry <span><?php echo count($aPickedFilters); ?></span></p>
                        <ul class="filters-list">
                            <?php foreach ($aPickedFilters as $aFilter): ?>
                                <a href="<?php echo $aFilter['url'] ?>"><li><?php echo $aFilter['name']; ?><span>X</span></li></a>
                            <?php endforeach; ?>
                            <?php if (count($aPickedFilters) > 0): ?>
                                <a href="<?php echo $this->groupUrl(array('url' => $this->params['url'])); ?>"><li class="delete">usuń filtry</li></a>
                            <?php endif; ?>
                        </ul>
                    </div>
                    <div id="products-items">
                        <ul class="items">

                            <?php foreach ($this->paginator as $iKey => $aProduct): ?>
                            <?php echo $this->partial('_partial/product_list_element.phtml', array('product' => $aProduct, 'mode' => 'subcategory' , 'tag' => $this->tags[$iKey])); ?>
                            <?php endforeach; ?>
                             <?php foreach ($this->paginator as $iKey => $aProduct): ?>
                            <?php echo $this->partial('_partial/product_list_element.phtml', array('product' => $aProduct, 'tag' => $this->tags[$iKey])); ?>
                            <?php endforeach; ?>
                        </ul>
                        <?php echo $this->paginationControl($this->paginator, 'Sliding', '_partial/paginator.phtml', array('params' => $this->params, 'helper' => 'groupUrl'));
                        ?>
                    </div>
                </section>
            </section>
        </div>

           <div class="wrapper">
                <article id="category">
                    <?php if(!empty($this->category['description'])): ?>
                    <h2><?php echo $this->category['name']; ?></h2>
                    <p class="short"><?php  echo substr($this->category['description'], 0, 128); ?></p>
                        <div class="hidden more-description">                        
                                <?php  echo $this->category['description']; ?>
                            </div>
                    <br />
                        <span class="more-desc">czytaj więcej</span>
                        <?php endif; ?>
                    
                    
                    </div>

        <div class="wrapper">
            <section id="more-links" class="clearfix">
                <h3>Użtkownicy, którzy oglądali ten produkt oglądali także:</h3>
                <ul>
                    
                    <?php foreach ($this->box as $aSearch): ?>
                        <li>
                            <?php echo $aSearch; ?>|
                        </li>
                    <?php endforeach; ?>
                </ul>
            </section>
        </div>
    </div>
    <footer class="clearfix">
        <div class="wrapper">
            <p class="copyrights">Copyright @2013 - dobracena.pl - Wszystkie prawa zastrzeżone.</p>
            <div class="links">
                <h2>Nasza oferta</h2>
                <ul>
                    <li>
                        <a href="">Dla sprzedawców</a>
                    </li>
                    <li>
                        <a href="">Dla witryn internetowych</a>
                    </li>
                    <li>
                        <a href="">Dla reklamodawców</a>
                    </li>
                    <li>
                        <a href="">Dla producentów i importerów</a>
                    </li>
                </ul>
            </div>
            <div class="links">
                <h2>Nasza oferta</h2>
                <ul>
                    <li>
                        <a href="">O nas</a>
                    </li>
                    <li>
                        <a href="">Nasze serwisy</a>
                    </li>
                    <li>
                        <a href="">Relacje inwestorskie</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script>

        var changed = 0;

        $(document).ready(function() {

            $('#sort').change(function() {
                document.location.href = $(this).val();
                return false;
            });

            $('.price').keyup(function() {
                changed = 1
            });


            $(".price").blur(function() {

                if (changed === 1)
                {
                    $.ajax({
                        type: "POST",
                        dataType : 'json',
                        url: "/page/index/urlhelper/type/group",
                        data: {data: <?php echo Zend_Json::encode($this->params); ?>, 
                               pf: $('#price_from').val() ,
                              pt : $('#price_to').val()}
                    }).done(function(response) {
                        document.location.href = response['url'];
                    });

                }
            });
        });



    </script>