<body>
    <div id="top">
        <header class="wrapper clearfix">
            <a id="logo" href="/">
                <img src="/images/logo.png" alt="dobracena.pl - najlepsze ceny w sieci!">
            </a>
            <h1>Najlepsze ceny w sieci!</h1>

            <?php echo $this->partial('_partial/headerProducts.phtml', array('categories' => $this->categories)); ?>
            </header>
    </div>

</div>
<div id="main-search">
    <section class="wrapper clearfix">
        <form action="<?php echo $this->url(array(), 'searchraw'); ?>" method="get" id="main-search-box">
            <input class="text" type="text" name="search" placeholder="Wpisz szukaną nazwę produktu...">
            <input class="submit" type="submit" value="szukaj">
        </form>
        <p class="text-a">Poszukaj w kategoriach</p>
        <p class="text-b">Dzisiaj prezentujemy <span>14 milionów</span> ofert z <span>3530</span> sklepów internetowych</p>
    </section>
</div>
<div class="wrapper">
    <section id="categories-list">

        <ul class="clearfix">
            <?php $iLoop = 0; ?>
            <?php foreach ($this->categories as $iKey => $aCategory): ?>

                <?php $iLoop++; ?>
                <li>
                    <a href="<?php echo $this->url(array('url' => $aCategory['seo']), 'category'); ?>">
                        <h2><?php echo $aCategory['name']; ?> <span></span></h2>
                    </a>
                    <p>
                        <?php foreach ($aCategory['elems'] as $aSubCategory): ?>
                            <a href="<?php echo $this->subcategoryUrl(array('url' => $aSubCategory['url'])); ?>"><?php echo $aSubCategory['name']; ?></a>,
                        <?php endforeach; ?>
                    </p>
                    <a class="more" href="<?php echo $this->url(array('url' => $aCategory['seo']), 'category'); ?>">więcej</a>
                </li>


                <?php if ($iLoop % 5 == 0): ?>
                </ul>
                <ul class="clearfix">
                    <?php $iLoop = 0; ?>
                <?php endif; ?>


            <?php endforeach; ?>
        </ul>

    </section>
</div>
<div class="wrapper">
    <section id="products-list" class="clearfix">
        <h2 class="title-a">Polecane produkty</h2>
        <ul class="clearfix">
            <?php foreach ($this->promoted as $iKey => $aPromoted): ?>

                <?php if (($iKey % 4) == 0 && $iKey != 0): ?>
                </ul>
                <ul class="clearfix">
                <?php endif; ?>

                <li>
                    <a href="<?php echo $this->url(array('id' => $aPromoted['id'], 'url' => $this->seo($aPromoted['name'])) , 'product'); ?>">
                        <img src="<?php echo App_Image::uri($aPromoted['image'], '120x120') ?>">
                        <h3><?php echo $aPromoted['name']; ?></h3>
                        <p><?php echo $aPromoted['min_price']; ?> zł</p>
                        <span><?php echo $aPromoted['offers']; ?> ofert</span>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </section>
</div>
<div class="wrapper">
    <section id="links-list" class="clearfix">
        <h2 class="title-a">Ostatnio szukane produkty</h2>
        <ul>
            <?php foreach ($this->box as $iKey => $sUrl): ?>

                <?php if (($iKey % 16) == 0 && $iKey != 0): ?>
                </ul><ul>
                <?php endif; ?>
                <li>
                    <?php echo $sUrl; ?>
                </li>
            <?php endforeach; ?>

        </ul>
    </section>
</div>
<footer class="clearfix">
    <div class="wrapper">
        <p class="copyrights">Copyright ©2013 - dobracena.pl - Wszystkie prawa zastrzeżone.</p>
        <div class="links">
            <h2>Nasza oferta</h2>
            <ul>
                <li>
                    <a href="">Dla sprzedawców</a>
                </li>
                <li>
                    <a href="">Dla witryn internetowych</a>
                </li>
                <li>
                    <a href="">Dla reklamodawców</a>
                </li>
                <li>
                    <a href="">Dla producentów i importerów</a>
                </li>
            </ul>
        </div>
        <div class="links">
            <h2>Nasza oferta</h2>
            <ul>
                <li>
                    <a href="">O nas</a>
                </li>
                <li>
                    <a href="">Nasze serwisy</a>
                </li>
                <li>
                    <a href="">Relacje inwestorskie</a>
                </li>
            </ul>
        </div>
    </div>
</footer>