<body>
    <div id="top" class="float">
        <header class="wrapper clearfix">
            <a id="logo" href="/">
                <img src="/images/logo.png" alt="dobracena.pl - najlepsze ceny w sieci!">
            </a>
            <h1>Najlepsze ceny w sieci!</h1>
            <?php echo $this->partial('_partial/product_search.phtml'); ?>
            <?php echo $this->partial('_partial/headerProducts.phtml', array('categories' => $this->categories)); ?>
        </header>
        <div id="breadcrumbs">
            <div class="wrapper">
                <ul class="crumbs">
                    <li class="main">
                        <a href="/">Strona główna</a>
                         <ul class="submenu">
                            <li>
                                <span class="pointer"></span>
                            </li>
                            <?php foreach ($this->category_one as $aCat): ?>
                                <li>
                                    <a href="<?php echo $this->url(array('url' => $aCat['url'])); ?>"><?php echo $aCat['name']; ?></a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="<?php echo $this->url(array('url' => $this->actual['one_url']), 'category'); ?>"><?php echo $this->actual['one_name']; ?></a>
                        <ul class="submenu">
                            <li>
                                <span class="pointer"></span>
                            </li>
                            <?php foreach ($this->category_two as $aCat): ?>
                                <li>
                                    <a href="<?php echo $this->groupUrl(array('url' => $aCat['url'])); ?>"><?php echo $aCat['name']; ?></a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </li>
                    <li>
                        <a href="<?php echo $this->groupUrl(array('url' => $this->actual['two_url'])); ?>"><?php echo $this->actual['two_name']; ?></a>
                        <ul class="submenu">
                            <li>
                                <span class="pointer"></span>

                            </li>
                            <?php // die(var_dump($this->category_three)); ?>
                            <?php foreach ($this->category_three as $aCat): ?>
                                <li>
                                    <a href="<?php echo $this->subcategoryUrl(array('url' => $aCat['url'])); ?>"><?php echo $aCat['name']; ?></a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </li>
                    <li>
                        <?php
                        $sUrl = empty($this->producent) ? $this->subcategoryUrl(array('url' => $this->actual['three_url'])) : $this->subcategoryUrl(array('url' => $this->actual['three_url'], 'filters' => array($this->producent['filter_id'] => $this->producent['param_id'])));
                        ?>
                        
                            
                        <a href="<?php echo $sUrl; ?>"><?php echo $this->actual['three_name']; ?> <?php echo $this->producent['param_name']; ?></a>
                       
                    </li>
              
                    <li class="last">
                        <a href="#"><?php echo substr($this->product['name'], 0 , 42); ?></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container wrapper">
        <div class="wrapper">
            <section id="products" class="clearfix">
                <h2 class="title-a no-border"><ul id="prod_dsc"><li><?php echo substr($this->product['name'], 0 , 42); ?> </li><li> <div class="block-rating">
                                <div class="star" data-score="<?php echo!empty($this->product['rate']) ? intval($this->product['rate']) : 0; ?>"></div></li>
                        <li><div class="target"><span class="item_counter">(<?php echo $this->product['opinions']; ?> opini)</span></div></li>
                </h2>
                <aside id="options">
                    <div class="box">
                        <h2>Kategorie</h2>
                        <div class="content">
                            <ul>
                                <li>
                                    <a class="up" href="<?php echo $this->url(array('url' => $this->actual['one_url']), 'category'); ?>"><?php echo $this->actual['two_name'] ?></a>
                                    <ul class="submenu">
                                        <li>
                                            <a href=""><?php echo $this->actual['three_name'] ?> </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <?php foreach ($this->filters as $iCountFilter => $aFilter): ?>
                        <div class="box">
                            <?php if ($iCountFilter > 4): ?>
                                <h2 class="slided"><?php echo $aFilter['name']; ?></h2>
                                <div class="content" style="display: none">
                                <?php else: ?>
                                    <h2><?php echo $aFilter['name']; ?></h2>
                                    <div class="content">

                                    <?php endif; ?>  
                                    <?php if ($aFilter['name'] == 'Cena'): ?>
                                        <p>Wpisz własny przedział cen:</p>
                                        <form class="price" action="" method="post">
                                            <input placeholder="od" type="text"<?php if (!empty($this->params['filters']['pf'])): $aPickedFilters[] = array('name' => '> ' . $this->params['filters']['pf'] . ' zł', 'url' => $this->subcategoryUrl($this->params, null, 'pf')); ?> value="<?php echo $this->params['filters']['pf']; ?>"<?php endif; ?> id="price_from" class="price" name="pf">
                                            <span>-</span>
                                            <input placeholder="do" type="text"<?php if (!empty($this->params['filters']['pt'])): $aPickedFilters[] = array('name' => '< ' . $this->params['filters']['pt'] . ' zł', 'url' => $this->subcategoryUrl($this->params, null, 'pt')); ?> value="<?php echo $this->params['filters']['pt']; ?>"<?php endif; ?> id="price_to" class="price" name="pt">
                                        </form>

                                    <?php endif; ?>
                                    <ul class="selectable">

                                        <?php foreach ($aFilter['elems'] as $iKey => $aParameter): ?>

                                            <?php
                                            switch (true) {
                                                case is_array($this->params['filters']) && in_array($aParameter['id'], array_values($this->params['filters'])):
                                                    ?>
                                                    <li class="selected" data-count="<?php echo $aParameter['count']; ?>">       
                                                        <a href="<?php echo $this->subcategoryUrl($this->params, null, $aParameter['filter_id']); ?>"><?php echo $aParameter['name']; ?> </a>
                                                        <span class="close">X</span>
                                                        <?php $aPickedFilters[] = array('name' => $aParameter['name'], 'url' => $this->subcategoryUrl($this->params, null, $aParameter['filter_id'])); ?>
                                                        <?php
                                                        break;
                                                    default:
                                                        ?>     

                                                    <li<?php if ($iKey > 4): ?> class="hide"<?php endif; ?> data-count="<?php echo $aParameter['count']; ?>">
                                                    <?php $sAppend = array('filters' => array($aParameter['filter_id'] => $aParameter['id'])); ?>
                                                        <a href="<?php echo $this->subcategoryUrl($this->params, $sAppend); ?>"><?php echo $aParameter['name']; ?> </a>
                                                    </li>

                <?php
                break;
        }
        ?>


                                    <?php endforeach; ?>
                                    </ul>
    <?php if (count($aFilter['elems']) > 5): ?>
                                        <span class="more">zobacz więcej</span>
                            <?php endif; ?>

                                </div>
                            </div>

<?php endforeach; ?>


                        <div class="box">
                            <h2>Podobne</h2>
                            <div class="content">
                                    <?php if (count($this->similiars) > 0): ?>
                                    <ul>

                                    <?php foreach ($this->similiars as $iKey => $aSimiliar): ?>
                                            <li<?php if ($iKey > 4): ?> class="hide"<?php endif; ?>><a href="<?php echo $this->SearchUrl(array('search' => $this->seo($aSimiliar))); ?>"><?php echo $aSimiliar; ?></a></li>
    <?php endforeach; ?>
                                    </ul>
                                    <span class="more">zobacz więcej</span>
<?php endif; ?>
                            </div>


                        </div>

                </aside>
                <section id="subcategory-content">

                    <div id="products-items">
                        <ul class="items clearfix">


                            <?php // foreach ($this->similiarsProducts as $iKey => $aProduct): ?>
                                <?php  // echo $this->partial('_partial/product_list_element.phtml', array('product' => $aProduct, 'mode' => 'subcategory', 'tag' => $this->tags[$iKey])); ?>
                            <?php // endforeach; ?>

<?php foreach ($this->similiarsProducts as $iKey => $aProduct): ?>
    <?php echo $this->partial('_partial/product_list_element.phtml', array('product' => $aProduct, 'tag' => $this->tags[$iKey])); ?>
<?php endforeach; ?>


                        </ul>
                    </div>
                </section>
            </section>
        </div>

        <div class="wrapper">
            <article id="category">
                <h2><?php echo $this->product['name']; ?></h2>
                <div>

<?php if (!empty($this->product['description'])): ?>

    <?php $aTextArray = unserialize(base64_decode($this->product['description'])); ?>

                        <p class="short"><?php echo substr($aTextArray['text'], 0, 128); ?></p>
                        <div class="hidden more-description">
                            <p><?php echo $aTextArray['text']; ?></p>
                            <table id="params">
    <?php echo $aTextArray['params']; ?>
                            </table>
                        </div><br />
                        <span class="more-desc">czytaj więcej</span>


                    <?php elseif (!empty($this->product['params'])): ?>

    <?php $aTextArray = unserialize(base64_decode($this->product['params'])); ?>

                                <?php $sFirstValue = reset($aTextArray); ?>

                        <div class="short"><table id="params"><tr><th><?php echo key($aTextArray) ?></th><td><?php echo $sFirstValue; ?></td></tr></table></div>
                        <div class="hidden more-description">
                            <table id="params">
                                <?php foreach ($aTextArray as $sKey => $aTa): ?>

                                    <tr><th><?php echo $sKey; ?></th><td><?php echo $aTa; ?></td></tr>

    <?php endforeach; ?>
                            </table>
                        </div>
                        <span class="more-desc">czytaj więcej</span>


                    <?php else : ?>
                        <p></p>
                        <div class="hidden more-description">
                            <p></p>
                        </div>
<?php endif; ?>
                </div>
            </article>
        </div>

        <div class="wrapper">
            <section id="more-links" class="clearfix">
                <h3>Użytkownicy, którzy oglądali ten produkt oglądali także:</h3>
                <ul>

                    <?php foreach ($this->box as $aSearch): ?>
                        <li>
    <?php echo $aSearch; ?>|
                        </li>
<?php endforeach; ?>
                </ul>
            </section>
        </div>
    </div>
    <footer class="clearfix">
        <div class="wrapper">
            <p class="copyrights">Copyright ©2013 - dobracena.pl - Wszystkie prawa zastrzeżone.</p>
            <div class="links">
                <h2>Nasza oferta</h2>
                <ul>
                    <li>
                        <a href="">Dla sprzedawców</a>
                    </li>
                    <li>
                        <a href="">Dla witryn internetowych</a>
                    </li>
                    <li>
                        <a href="">Dla reklamodawców</a>
                    </li>
                    <li>
                        <a href="">Dla producentów i importerów</a>
                    </li>
                </ul>
            </div>
            <div class="links">
                <h2>Nasza oferta</h2>
                <ul>
                    <li>
                        <a href="">O nas</a>
                    </li>
                    <li>
                        <a href="">Nasze serwisy</a>
                    </li>
                    <li>
                        <a href="">Relacje inwestorskie</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script>

        var changed = 0;

        $(document).ready(function() {





            var name = $('#prod_dsc').find('li').eq(0).text();

            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "/page/index/shops",
                data: 'name=' + name + ' &id=<?php echo $this->product['id']; ?>'
            }).done(function(response) {

                $('.shopped').remove();
                $('.items').prepend(response.content);

            });




            var score = $('.star').attr('data-score');

            $('.star').raty({readOnly: true, score: score, width: "150px", size: 25});


            $('.selectable').each(function(index) {

                if (index < 5)
                {

                    $(this).children().removeClass('hide').sort(count_sort_desc).appendTo($(this));

                    var counter = 1;

                    $($(this).children()).each(function() {


                        if (counter > 5)
                        {
                            $(this).addClass('hide');
                        }
                        counter++;
                    });

                }


            });

            function asc_sort(a, b) {
                return ($(b).text()) < ($(a).text()) ? 1 : -1;
            }

            function count_sort_desc(a, b) {
                return ($(b).attr('data-count')) - ($(a).attr('data-count'));
            }

// decending sort
            function dec_sort(a, b) {
                return ($(b).text()) > ($(a).text()) ? 1 : -1;
            }

            $('.more').click(function() {

                $(this).parent().find('.selectable').children().sort(asc_sort).appendTo($(this).parent().find('.selectable'));
                $(this).remove();
            });

            $('.more-desc').click(function() {

                $(this).parent().find('.more-description').removeClass('hidden');
                $(this).parent().find('.short').remove();
                $(this).remove();
            });


            $('#sort').change(function() {
                document.location.href = $(this).val();
                return false;
            });

            $('.price').keyup(function() {
                changed = 1;
            });


            $(".price").blur(function() {

                if (changed === 1)
                {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: "/page/index/urlhelper/type/category",
                        data: {data: <?php echo Zend_Json::encode($this->params); ?>,
                            pf: $('#price_from').val(),
                            pt: $('#price_to').val()}
                    }).done(function(response) {

                        document.location.href = response['url'];
                    });

                }
            });
        });



    </script>