<body id="start">
    <div id="top" class="tight">
        <header class="wrapper clearfix">
            <a id="logo" href="/">
                <img src="/images/logo.png" alt="dobracena.pl - najlepsze ceny w sieci!">
            </a>
            <h1>Najlepsze ceny w sieci!</h1>               
            <?php echo $this->partial('_partial/product_search.phtml'); ?>
            <?php echo $this->partial('_partial/headerProducts.phtml', array('categories' => $this->categories)); ?>
        </header>
        <span class="recommend">polecamy</span>
    </div>
    <div id="float">
        <div class="visible">
            
        </div>  
        <span class="toggle"></span>
    </div>
    
        <iframe id="iframed" scrollbar="no" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:4000px;width:100%;top:60px;left:0px;right:0px;bottom:0px" src="<?php echo $this->iframe; ?>"></iframe>
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="/scripts/page/plugins.js"></script>
    <script src="/scripts/page/main.js"></script>


</body>