<div id="slider">
                <ul id="bx-slider">
                    <?php foreach ($this->similiarsProducts as $iKey => $aProd): ?>
                        <li class="item" style="text-align: center">
                            <a href="<?php echo $this->url(array('id' => $aProd['id'], 'name' => $this->seo($aProd['name'])), 'redirect_name'); ?>">

                                <img src="<?php echo App_Image::uri($aProd['image'], '60x40'); ?>" width="60px" height="40px" alt="">

                                <?php if (isset($this->tags[$iKey])): ?>
                                    <span class="promo">-<?php echo $this->tags[$iKey]; ?>%</span>
                                <?php endif; ?>
                              <p style="height: 15px; overflow: hidden;"><strong><?php echo $aProd['name']; ?></strong></p>
                                <p class="price">od <span><?php echo $aProd['min_price']; ?> zł</span></p>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
                <div id="navigate">                   
                    <div class="prev"></div>
                    <div class="next"></div>
                    <button onclick="document.location.href='<?php  echo $this->url(array('id' => $this->product['id'], 'url' => $this->seo($this->product['name'])), 'product'); ?>'">porównaj ceny</button>                    
                </div>              
            </div>