<body id="start">
    <div id="top" class="tight">
        <header class="wrapper clearfix">
            <a id="logo" href="/">
                <img src="/images/logo.png" alt="dobracena.pl - najlepsze ceny w sieci!">
            </a>
            <h1>Najlepsze ceny w sieci!</h1>               
            <?php echo $this->partial('_partial/product_search.phtml'); ?>
            <?php echo $this->partial('_partial/headerProducts.phtml', array('categories' => $this->categories)); ?>
        </header>
        <span class="recommend">polecamy</span>
    </div>
    <div id="float">
        <div class="visible">
            <div id="slider">
                <ul id="bx-slider">
                    <?php foreach($this->similiarsProducts as $iKey => $aProd): ?>
                    <li class="item">
                        <a href="<?php echo $this->url(array('id' => $aProd['id'], 'name' => $this->seo($aProd['name'])), 'redirect_name'); ?>">
                            
                            <img src="<?php echo App_Image::uri($aProd['image'], '60x40'); ?>" width="60px" height="40px">
                            
                            <?php if (isset($this->tags[$iKey])): ?>
                                <span class="promo">-<?php echo $this->tags[$iKey]; ?>%</span>
                            <?php endif; ?>
                           <p style="height: 15px; overflow: hidden;"><strong><?php echo $aProd['name']; ?></strong></p>
                            <p class="price">od <span><?php echo $aProd['min_price']; ?> zł</span></p>
                        </a>
                    </li>
                    <?php endforeach; ?>
                </ul>
                <div id="navigate">                   
                    <div class="prev"></div>
                    <div class="next"></div>
                    <button onclick="document.location.href='<?php   echo $this->url(array('id' => $this->product['id'], 'url' => $this->seo($this->product['name'])), 'product'); ?>'">porównaj ceny</button>                                     
                </div>              
            </div>
        </div>  
        <span class="toggle"></span>
    </div>

        <iframe id="iframed" scrollbar="no" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:4000px;width:100%;top:60px;left:0px;right:0px;bottom:0px" src="<?php echo $this->iframe; ?>"></iframe>
 

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="/scripts/page/plugins.js"></script>
    <script src="/scripts/page/main.js"></script>


</body>