<body>
    <div id="top" class="float">
        <header class="wrapper clearfix">
            <a id="logo" href="/">
                <img src="/images/logo.png" alt="dobracena.pl - najlepsze ceny w sieci!">
            </a>
            <h1>Najlepsze ceny w sieci!</h1>
                 <?php echo $this->partial('_partial/product_search.phtml');  ?>
           <?php echo $this->partial('_partial/headerProducts.phtml', array('categories' => $this->categories)); ?>
        </header>
        <div id="breadcrumbs">
            <div class="wrapper">
                <ul class="crumbs">
                    <li class="main">
                        <a href="/">Strona główna</a>
                    </li>
                    
                    <li class="last">
                        <a href=""><?php  echo $this->search; ?></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container wrapper">
        <div class="wrapper">
            <section id="products" class="clearfix">
                <h2 class="title-a no-border"><?php  echo ucfirst(preg_replace('/-/' , ' ', $this->search)); ?>: <span><?php echo count($this->ids); ?> <strong>produktów</strong></span></h2>
                <aside id="options">
                
                    <?php $aPickedFilters = array(); ?>
                    <div class="box">
                        <h2>Cena</h2>
                        <div class="content">
                            <p>Wpisz własny przedział cen:</p>
                            <form class="price" action="" method="post">
                                <input placeholder="od" type="text"<?php if(!empty($this->params['filters']['pf'])): $aPickedFilters[] = array('name' => '> '.$this->params['filters']['pf'].' zł', 'search' => $this->groupUrl($this->params, null, 'pf')); ?> value="<?php echo $this->params['filters']['pf']; ?>"<?php endif; ?> id="price_from" class="price" name="pf">
                                <span>-</span>
                                <input placeholder="do" type="text"<?php if(!empty($this->params['filters']['pt'])): $aPickedFilters[] = array('name' => '< '.$this->params['filters']['pt'].' zł', 'search' => $this->groupUrl($this->params, null, 'pt')); ?> value="<?php echo $this->params['filters']['pt']; ?>"<?php endif; ?> id="price_to" class="price" name="pt">
                            </form>
                        </div>
                    </div>
             
                    
                             <div class="box">
                        <h2>Podobne</h2>
                        <div class="content">
                            <?php if(!empty($this->similiars)): ?>
                                <ul>
                        <?php foreach($this->similiars as $aSimiliar): ?>
                            
                            <li><a href="<?php echo $this->searchUrl(array('search' => $this->seo($aSimiliar))); ?>"><?php echo $aSimiliar; ?></a></li>
                            
                            
                            <?php endforeach; ?>
                            </ul>
                            <?php endif; ?>
                 
                        </div>
                    </div>
             
               

                </aside>
                <section id="subcategory-content">
                    <div id="filters" class="clearfix">
                        <p>Wybrane filtry <span><?php echo count($aPickedFilters); ?></span></p>
                        <ul class="filters-list">
                            <?php foreach ($aPickedFilters as $aFilter): ?>
                                <a href="<?php echo $aFilter['search'] ?>"><li><?php echo $aFilter['name']; ?><span>X</span></li></a>
                            <?php endforeach; ?>
                            <?php if (count($aPickedFilters) > 0): ?>
                                <a href="<?php echo $this->subcategoryUrl(array('search' => $this->params['search'])); ?>"><li class="delete">usuń filtry</li></a>
                            <?php endif; ?>
                        </ul>
                    </div>
                  
                    <div id="products-items">
                        <ul class="items">
                              <?php if(!empty($this->results)): ?>
                            <?php // foreach($this->results as $iKey => $aProduct): ?>
                             <?php // echo $this->partial('_partial/product_list_element.phtml', array('product' => $aProduct, 'mode' => 'subcategory', 'tag' => $this->tags[$iKey])); ?>
                            <?php  // endforeach; ?>
                            
                            <?php foreach($this->results as $iKey => $aProduct): ?>
                             <?php echo $this->partial('_partial/product_list_element.phtml', array('product' => $aProduct, 'tag' => $this->tags[$iKey])); ?>
                            <?php endforeach; ?>
                            <?php endif; ?>
                        </ul>
                      
                    </div>
                      
                </section>
                <?php echo $this->partial('_partial/paginator_sub.phtml', array('data' => $this->data, 'params' => $this->params, 'helper' => 'searchUrl'));
                        ?>
            </section>
        </div>

        <div class="wrapper">
            <article id="category">
                <h2><?php echo $this->actual['name']; ?></h2>
                <div>
                    <p><?php echo substr($this->actual['description'], 0, 128); ?></p>
                    <div class="hidden more-description">
                        <p><?php echo $this->actual['description']; ?></p>
                    </div>
                    <span class="more">czytaj więcej</span>
                </div>
            </article>
        </div>

        <div class="wrapper">
            <section id="more-links" class="clearfix">
                <h3>Użytkownicy, którzy oglądali ten produkt oglądali także:</h3>
                  <ul>
                    
                    <?php foreach ($this->box as $aSearch): ?>
                        <li>
                            <?php echo $aSearch; ?>|
                        </li>
                    <?php endforeach; ?>
                </ul>
            </section>
        </div>
    </div>
    <footer class="clearfix">
        <div class="wrapper">
            <p class="copyrights">Copyright ©2013 - dobracena.pl - Wszystkie prawa zastrzeżone.</p>
            <div class="links">
                <h2>Nasza oferta</h2>
                <ul>
                    <li>
                        <a href="">Dla sprzedawców</a>
                    </li>
                    <li>
                        <a href="">Dla witryn internetowych</a>
                    </li>
                    <li>
                        <a href="">Dla reklamodawców</a>
                    </li>
                    <li>
                        <a href="">Dla producentów i importerów</a>
                    </li>
                </ul>
            </div>
            <div class="links">
                <h2>Nasza oferta</h2>
                <ul>
                    <li>
                        <a href="">O nas</a>
                    </li>
                    <li>
                        <a href="">Nasze serwisy</a>
                    </li>
                    <li>
                        <a href="">Relacje inwestorskie</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

       <script>

        var changed = 0;

        $(document).ready(function() {


            $('.price').keyup(function() {
                changed = 1;
            });
            
            
            $('li.selected .close').click(function(){
                
                
                document.location.href($(this).parent().find('a').attr('href')); 
                
            });

            $(".price").blur(function() {

                if (changed === 1)
                {
                    $.ajax({
                        type: "POST",
                        dataType : 'json',
                        url: "/page/index/urlhelper/type/search",
                        data: {data: <?php echo Zend_Json::encode($this->params); ?>, 
                               pf: $('#price_from').val() ,
                              pt : $('#price_to').val()}
                    }).done(function(response) {
                        document.location.href = response['search'];
                    });

                }
            });
        });



    </script>