<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Zend Framework Default Application</title>
</head>
<body>
    <table>
 <pre><?php var_dump($this); ?></pre>
</body>
    </table>
</html>


<?php  var_dump($this->exception); ?>


<style>.xdebug-error {
  color: black;
  font-size: 14px;
}
.xdebug-error tr:first-child th {
  padding: 20px !important;
}
.xdebug-error tr:first-child th span {
  background: transparent !important;
  color: red !important;
  display: block !important;
  float: left !important;
  font-size: 50px !important;
  padding-right: 20px !important;
}
.xdebug-error tr:first-child th a {
  color: #fff !important;
}
.xdebug-error a {
  text-decoration: none;
}
.xdebug-error a:hover {
  text-decoration: underline;
}
.xdebug-error td {
  padding: 5px;
}</style>