<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <?php echo $this->headTitle(); ?>
        <?php echo $this->headMeta(); ?>
        <link href="/styles/admin.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <?php echo App_Addons::getInstance()->deploy(); ?>
        <?php echo $this->headLink(); ?>
        <?php echo $this->headScript(); ?>
    </head>
    <body>
        <div id="dialog"></div>
        <div class="container-fluid">

            <?php echo $this->displayMessages(); ?>
            <div class="row-fluid">
                <?php if (Zend_Auth::getInstance()->hasIdentity()): ?>
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="nav">

                                <li><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'auth', 'action' => 'logout')); ?>" style="color:red">Wyloguj</a></li>
                            </ul>
                        </div>
                    </div>
                <?php endif; ?>

                <?php echo $this->layout()->content; ?>

            </div>
        </div>
        <script>
            $(document).ready(function(e){
    
    
                $('#tablegrid button').addClass('btn'); 
                $('#tablegrid input[type=text]').addClass('input-small'); 
    
                $('body').on('click' , '.confirmation' , function(){
                    
                    var locationRequested = $(this).attr('link'); 
                    
                    alertify.confirm("Potwierdzenie akcji", function (ex) {
                        if (ex) {
                            document.location.href =   locationRequested; 
                        } else {
                            return false; 
                        }
                    });
        
                }); 
            }); 
        </script>
    </body>
</html>