<?php echo $this->doctype(); ?>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <?php echo $this->headTitle(); ?>
        <?php echo $this->headMeta(); ?>
        <?php echo App_Addons::getInstance()->deploy(); ?>
        <?php echo $this->headLink(); ?>
        <?php echo $this->headScript(); ?>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/styles/normalize.min.css">
        <link rel="stylesheet" href="/styles/main.css">
        <script src="/scripts/page/vendor/modernizr-2.6.2.min.js"></script>

        <script src="/scripts/page/plugins.js"></script>
        <script src="/scripts/page/main.js"></script>

    </head>


    <?php echo $this->layout()->content; ?>



</body>
</html>
